<div class="content-wrapper" style="background-color: cadetblue; overflow-y: scroll;">
    <div class="container-fluid">
    <form>
      <br>
      <br>
      <table border="1" class="table table-stripped">
        <th>
            <h2>Add New Jail</h2>
        </th>
        <th>
          <a href="#" routerLink="/manage/add-jail" ><button class="btn btn-secondary">Add Jail</button></a>
        </th>
      </table>
    </form>
    <br>
    </div>
    <div class="container-fluid">
        <table border="2" class="table table-stripped">
          <thead>
            <th>Jail ID</th>
            <th>Jail Name</th>
            <th>Jail Type</th>
            <th>Jail City</th>
            <th>Jail Super Name</th>
            <th>Jail Super Police ID</th>
            <th>Jail Email</th>
            <th>Office Phone</th>
            <th>Jail Super Phone</th>
            <th>User Name</th>
            <th>Password</th>
            <th>Confirm Password</th>
            <th>Actions</th>
          </thead>
          <tr *ngFor="let v of jail">
            <td>{{v.ajailJailId}}</td>
            <td>{{v.ajailJailName}}</td>
            <td>{{v.ajailJailType}}</td>
            <td>{{v.ajailJailCity}}</td>
            <td>{{v.ajailJailSuperName}}</td>
            <td>{{v.ajailJailSuperPoliceId}}</td>
            <td>{{v.ajailJailEmail}}</td>
            <td>{{v.ajailOfficePhone}}</td>
            <td>{{v.ajailJailSuperPhone}}</td>
            <td>{{v.ajailUserName}}</td>
            <td>{{v.ajailPassword}}</td>
            <td>{{v.ajailConfirmPassword}}</td>
            <td>
                <button class="btn btn-success">View</button>
                <button class="btn btn-warning">Edit</button>
            </td>
          </tr>
        </table>
    </div>
</div>
