<div class="content-wrapper" style="background-color: cadetblue;">
    <div class="container-fluid">
    <form>
      <br>
      <br>
      <div class="row">
        <div class="col">
            <div class="form-outline">
              <input type="text" id="jailId" class="form-control-file" />
              <label class="form-label" for="jailId">Jail ID</label>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
              <input type="text" id="jailName" class="form-control-file" />
              <label class="form-label" for="jailName">Jail Name</label>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <select type="dropdown" id="jailJailType" class="form-control-file">
                    <option value="Central Jail">Central Jail</option>
                    <option value="District Jail">District Jail</option>
                    <option value="Special Jail">Special Jail</option>
                </select>
                <label class="form-label" for="jailJailType">Jail Type</label>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-outline">
            <select type="dropdown" id="jailDistrictName" class="form-control-file">
              <option value="Bagerhat">Bagerhat</option>
              <option value="Bandarban">Bandarban</option>
              <option value="Barguna">Barguna</option>
              <option value="Barisal">Barisal</option>
              <option value="Bhola">Bhola</option>
              <option value="Bogra">Bogra</option>
              <option value="Brahmanbaria">Brahmanbaria</option>
              <option value="Chandpur">Chandpur</option>
              <option value="Chittagong">Chittagong</option>
              <option value="Chuadanga">Chuadanga</option>
              <option value="Comilla">Comilla</option>
              <option value="Cox's Bazar">Cox's Bazar</option>
              <option value="Dhaka">Dhaka</option>
              <option value="Dinajpur">Dinajpur</option>
              <option value="Faridpur">Faridpur</option>
              <option value="Feni">Feni</option>
              <option value="Gaibandha">Gaibandha</option>
              <option value="Gazipur">Gazipur</option>
              <option value="Gopalganj">Gopalganj</option>
              <option value="Habiganj">Habiganj</option>
              <option value="Jaipurhat">Jaipurhat</option>
              <option value="Jamalpur">Jamalpur</option>
              <option value="Jashore">Jashore</option>
              <option value="Jhalakati">Jhalakati</option>
              <option value="Jhenaidah">Jhenaidah</option>
              <option value="Khagrachari">Khagrachari</option>
              <option value="Khulna">Khulna</option>
              <option value="Kishoreganj">Kishoreganj</option>
              <option value="Kurigram">Kurigram</option>
              <option value="Kushtia">Kushtia</option>
              <option value="Lakshmipur">Lakshmipur</option>
              <option value="Lalmonirhat">Lalmonirhat</option>
              <option value="Madaripur">Madaripur</option>
              <option value="Magura">Magura</option>
              <option value="Manikganj">Manikganj</option>
              <option value="Meherpur">Meherpur</option>
              <option value="Moulvibazar">Moulvibazar</option>
              <option value="Munshiganj">Munshiganj</option>
              <option value="Mymensingh">Mymensingh</option>
              <option value="Naogaon">Naogaon</option>
              <option value="Narail">Narail</option>
              <option value="Narayanganj">Narayanganj</option>
              <option value="Narsingdi">Narsingdi</option>
              <option value="Natore">Natore</option>
              <option value="Nawabganj">Nawabganj</option>
              <option value="Netrakona">Netrakona</option>
              <option value="Nilphamari">Nilphamari</option>
              <option value="Noakhali">Noakhali</option>
              <option value="Pabna">Pabna</option>
              <option value="Panchagarh">Panchagarh</option>
              <option value="Patuakhali">Patuakhali</option>
              <option value="Pirojpur">Pirojpur</option>
              <option value="Rajbari">Rajbari</option>
              <option value="Rajshahi">Rajshahi</option>
              <option value="Rangamati">Rangamati</option>
              <option value="Rangamati">Rangamati</option>
              <option value="Satkhira">Satkhira</option>
              <option value="Shariatpur">Shariatpur</option>
              <option value="Sherpur">Sherpur</option>
              <option value="Sirajganj">Sirajganj</option>
              <option value="Sunamganj">Sunamganj</option>
              <option value="Sylhet">Sylhet</option>
              <option value="Tangail">Tangail</option>
              <option value="Thakurgaon">Thakurgaon</option>
            </select>
            <label class="form-label" for="jailDistrictName">District Name</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="jailThanaName" class="form-control-file" />
            <label class="form-label" for="jailThanaName">Thana Name</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-outline">
            <select type="dropdown" id="jailCaseType" class="form-control-file">
              <option value="GR">GR</option>
              <option value="CR">CR</option>
            </select>
            <label class="form-label" for="jailCaseType">Type of Case</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <select type="dropdown" id="jailPenalCode" class="form-control-file">
              <option value="The Penal Code, 1860">The Penal Code, 1860</option>
              <option value="The Cattle Trespass Act, 1871">The Cattle Trespass Act, 1871</option>
              <option value="The Explosive Substances Act, 1908">The Explosive Substances Act, 1908</option>
              <option value="The Arms Act, 1878">The Arms Act, 1878</option>
              <option value="The Prevention of Corruption Act, 1947">The Prevention of Corruption Act, 1947</option>
              <option value="The Anti-Corruption Act, 1957">The Anti-Corruption Act, 1957</option>
              <option value="The Special Powers Act, 1974">The Special Powers Act, 1974</option>
              <option value="The Dowry Prohibition Act, 1980">The Dowry Prohibition Act, 1980</option>
              <option value="The Narcotics (Control) Act, 1990"> The Narcotics (Control) Act, 1990</option>
              <option value="The Women and Children Oppression Act, 1995">The Women and Children Oppression Act, 1995</option>
              <option value="The Anti-Terrorism Act, 2013">The Anti-Terrorism Act, 2013</option>
              <option value="Digital Security Act, 2018">Digital Security Act, 2018</option>
            </select>
            <label class="form-label" for="jailPenalCode">Penal Code</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="jailPenalSection" class="form-control-file" />
            <label class="form-label" for="jailPenalSection">Penal Section</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-outline">
            <input type="number" id="jailCaseNo" class="form-control-file"/>
            <label class="form-label" for="jailCaseNo">Case No.</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="date" id="jailDate" class="form-control-file" />
            <label class="form-label" for="jailDate">Date</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="time" id="jailTime" class="form-control-file"/>
            <label class="form-label" for="jailTime">Time</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <!-- Name input -->
          <div class="form-outline">
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="reset" class="btn btn-warning">Reset</button>
          </div>
        </div>
      </div>

    </form>
    </div>

    <br>
    <br>

    <div class="container-fluid">
      <table border="2" class="table table-stripped">
        <thead>
          <th>Jail ID</th>
          <th>Jail Name</th>
          <th>Jail Type</th>
          <th>District</th>
          <th>Thana Name</th>
          <th>Case Type</th>
          <th>Penal Code</th>
          <th>Penal Section</th>
          <th>Case No.</th>
          <th>Date</th>
          <th>Time</th>
          <th>Register</th>
        </thead>
        <tbody>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
              <strong>
                <a href="#">FIR/Case Details</a>
              </strong>
              <strong>
                <a href="#">Verdict Details</a>
              </strong>
              <strong>
                <a href="#">Receive Prisoner</a>
              </strong>
              <br>
              <strong>
                <a href="#">Arrest Status</a>
              </strong>
              <strong>
                <a href="#">Investigation Report</a>
              </strong>
              <strong>
                <a href="#">Warrent list</a>
              </strong>
              <br>
              <strong>
                <a href="#">Add Document</a>
              </strong>
              <strong>
                <a href="#">Add Accused</a>
              </strong>
              <strong>
                <a href="#">Add Witness</a>
              </strong>
              <br>
              <strong>
                <a href="#">Case Status</a>
              </strong>
              <strong>
                <a href="#">Trial Status</a>
              </strong>
              <strong>
                <a href="#">Criminal Info</a>
              </strong>
              <br>
              <strong>
                <a href="#">Bail Status</a>
              </strong>
              <strong>
                <a href="#">Custody Status</a>
              </strong>
              <strong>
                <a href="#">Release Status</a>
              </strong>
          </td>
        </tbody>
      </table>
    </div>

  </div>
