<div class="content-wrapper" style="background-color: cadetblue;">
  <div class="container-fluid">
  <form>
    <br>
    <h2>Bench Warrents</h2>
    <br>
    <table border="1" class="table table-stripped">
      <th>
          <h2>Add Bench Warrent</h2>
      </th>
      <th>
        <a href="#" routerLink="/register/others-register/bench-warrent-register" ><button class="btn btn-secondary">Add Bench Warrent</button></a>
      </th>
    </table>
  </form>
  <br>
  </div>


  <div class="container-fluid" >
      <table border="2" class="table table-stripped" >
        <thead>
          <th>Forms of Warrent</th>
          <th>FIR/Case No.</th>
          <th>Thana Name</th>
          <th>Case Type</th>
          <th>GR No.</th>
          <th>CR No.</th>
          <th>Non-GR No.</th>
          <th>Non-FIR No.</th>
          <th>Paper Cliping No.</th>
          <th>SGR No.</th>
          <th>Date</th>
          <th>Penal Code</th>
          <th>Penal Section</th>
          <th>Name of Accussed</th>
          <th>Court No.</th>
          <th>Court Name</th>
          <th>Court City</th>
          <th>No. of Days Allowed</th>
          <th>Distance from Court</th>
          <th>No. of Attached</th>
          <th>Court Deposite Date</th>
          <th>Court Officer Receive Date</th>
          <th>Court Officer Delivery Date</th>
          <th>Court Officer Get Thana Date</th>
          <th>Court Submit Date</th>
          <th>Court Clerk Signature Date</th>
          <th>Court Remarks</th>
          <th>Status</th>
          <th>Abiding District Name</th>
          <th>Abiding Thana/Unit Name</th>
          <th>Thana ID/No.</th>
          <th>Date of Order Received by Thana</th>
          <th>Name of Order Abiding Officer</th>
          <th>Actual Date of Abiding Order</th>
          <th>Date of Senting Court from Thana</th>
          <th>Comment</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
              <button class="btn btn-success">View</button>
              <button class="btn btn-warning">Edit</button>
          </td>
        </tbody>
      </table>
  </div>
</div>


