<div class="content-wrapper" style="background-color: cadetblue; overflow-y: scroll;">
    <div class="container-fluid">
    <form>
      <br>
      <br>
      <table border="1" class="table table-stripped">
        <th>
            <h2>Add New Court</h2>
        </th>
        <th>
            <a href="#" routerLink="/manage/add-court" ><button class="btn btn-secondary">Add Court</button></a>
        </th>
      </table>
    </form>
    <br>
    </div>
    <div class="container-fluid">
        <table border="2" class="table table-stripped">
          <thead>
            <th>Court ID</th>
            <th>Court Type</th>
            <th>Court City</th>
            <th>Court Name</th>
            <th>Case No.</th>
            <th>Tribunal Name</th>
            <th>Chief Justice</th>
            <th>Chief Justice ID</th>
            <th>Public Prosecutor</th>
            <th>Public Prosecutor ID</th>
            <th>Court Email</th>
            <th>Court Phone</th>
            <th>User Name</th>
            <th>Password</th>
            <th>Confirm Password</th>
            <th>Actions</th>
          </thead>
          <tr *ngFor="let v of court">
            <td>{{v.acCourtId}}</td>
            <td>{{v.acCourtType}}</td>
            <td>{{v.acCourtCity}}</td>
            <td>{{v.acCourtName}}</td>
            <td>{{v.acCourtNo}}</td>
            <td>{{v.acTribunalName}}</td>
            <td>{{v.acChiefJustice}}</td>
            <td>{{v.acChiefJusticeId}}</td>
            <td>{{v.acPublicProsecutor}}</td>
            <td>{{v.acPublicProsecutorId}}</td>
            <td>{{v.acEmail}}</td>
            <td>{{v.acCourtPhone}}</td>
            <td>{{v.acUserName}}</td>
            <td>{{v.acPassword}}</td>
            <td>{{v.acConfirmPassword}}</td>
            <td>
                <button class="btn btn-success">View</button>
                <button class="btn btn-warning">Edit</button>
            </td>
          </tr>
        </table>
    </div>
</div>
