<div class="content-wrapper" style="background-color: cadetblue;">
    <div class="container-fluid">
        <br>
        <br>
        <b><h2>Welcome to Legal Case Management System, Bangladesh</h2></b>
        <br>
        <p>
            LCMS is a criminal case management system of People's Republic of Bangladesh. It is a state owned criminal database management system of our country. It holds 
            all the information related to criminal and criminal activities. Its main stakeholders are:
        </p>
        <ul>
            <li>Bangladesh Police</li>
            <li>Bangladesh Courts</li>
            <li>Bangladesh Jail</li>
        </ul>
        <br>
        <b><h3>System Information</h3></b>
        <br>
        <p>
            This system was written with Java programming language. It's frontend is designed with typescript programming language with Angular framework. This project was 
            based on Angular 15. It's backend is developed with Spring Boot framework. Spring Boot 2.7 version and maven Framework was used.
        </p>
    </div>
</div>>
