<div class="content-wrapper" style="background-color: cadetblue;">
  <div class="container-fluid">
    <form [formGroup]="addOperatorForm" (ngSubmit)="submit()">
      <br>
      <a href="#" routerLink="/general/police-information" ><button class="btn btn-secondary">Back to List</button></a>
      <br>
      <h2>Add Operator</h2>
      <br>
      <div class="row">
        <div class="col">
          <div class="form-outline">
            <input type="text" id="aoOperatorId" class="form-control-file" formControlName="aoOperatorId"/>
            <label class="form-label" for="aoBpCourtId">Operator ID</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <select type="dropdown" id="aoOperatorOf" class="form-control-file" name="gender" formControlName="aoOperatorOf">
              <option value="Thana">Thana</option>
              <option value="Court">Court</option>
            </select>
            <label class="form-label" for="aoOperatorOf">Operator of</label>
          </div>
         </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="aoBpCourtId" class="form-control-file" formControlName="aoBpCourtId"/>
            <label class="form-label" for="aoBpCourtId">BP/Court ID</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="aoFirstName" class="form-control-file" formControlName="aoFirstName"/>
            <label class="form-label" for="aoFirstName">First Name</label>
          </div>
        </div>
        <div class="col">
         <div class="form-outline">
            <input type="text" id="aoLastName" class="form-control-file" formControlName="aoLastName"/>
            <label class="form-label" for="aoLastName">Last Name</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-outline">
            <input type="text" id="aoFatherName" class="form-control-file" formControlName="aoFatherName"/>
            <label class="form-label" for="aoFatherName">Father's Name</label>
          </div>
        </div>
        <div class="col">
         <div class="form-outline">
            <input type="text" id="aoMotherName" class="form-control-file" formControlName="aoMotherName"/>
            <label class="form-label" for="aoMotherName">Mothers's Name</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <select type="dropdown" id="aoGender" class="form-control-file" name="gender" formControlName="aoGender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
            <label class="form-label" for="aoGender">Gender</label>
          </div>
         </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-outline">
            <input type="date" id="aoDoB" class="form-control-file" formControlName="aoDoB"/>
            <label class="form-label" for="aoDoB">Date of Birth</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="aoDepartmentId" class="form-control-file" formControlName="aoDepartmentId"/>
            <label class="form-label" for="aoDepartmentId">Department ID</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
              <select type="dropdown" id="aoDepartmentType" class="form-control-file" formControlName="aoDepartmentType">
                  <option value="Armed Branch/Range Police">Armed Branch/Range Police</option>
                  <option value="DMP">DMP</option>
                  <option value="RMP">RMP</option>
                  <option value="RpMP">RpMP</option>
                  <option value="SMP">SMP</option>
                  <option value="KMP">KMP</option>
                  <option value="CMP">CMP</option>
                  <option value="BMP">BMP</option>
                  <option value="GMP">GMP</option>
                  <option value="RAB">RAB</option>
                  <option value="PBI">PBI</option>
                  <option value="CID">CID</option>
                  <option value="DB">DB</option>
              </select>
              <label class="form-label" for="aoDepartmentType">Department Type</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-outline">
            <select type="dropdown" id="aoDistrictName" class="form-control-file" formControlName="aoDistrictName">
              <option value="Bagerhat">Bagerhat</option>
              <option value="Bandarban">Bandarban</option>
              <option value="Barguna">Barguna</option>
              <option value="Barisal">Barisal</option>
              <option value="Bhola">Bhola</option>
              <option value="Bogra">Bogra</option>
              <option value="Brahmanbaria">Brahmanbaria</option>
              <option value="Chandpur">Chandpur</option>
              <option value="Chittagong">Chittagong</option>
              <option value="Chuadanga">Chuadanga</option>
              <option value="Comilla">Comilla</option>
              <option value="Cox's Bazar">Cox's Bazar</option>
              <option value="Dhaka">Dhaka</option>
              <option value="Dinajpur">Dinajpur</option>
              <option value="Faridpur">Faridpur</option>
              <option value="Feni">Feni</option>
              <option value="Gaibandha">Gaibandha</option>
              <option value="Gazipur">Gazipur</option>
              <option value="Gopalganj">Gopalganj</option>
              <option value="Habiganj">Habiganj</option>
              <option value="Jaipurhat">Jaipurhat</option>
              <option value="Jamalpur">Jamalpur</option>
              <option value="Jashore">Jashore</option>
              <option value="Jhalakati">Jhalakati</option>
              <option value="Jhenaidah">Jhenaidah</option>
              <option value="Khagrachari">Khagrachari</option>
              <option value="Khulna">Khulna</option>
              <option value="Kishoreganj">Kishoreganj</option>
              <option value="Kurigram">Kurigram</option>
              <option value="Kushtia">Kushtia</option>
              <option value="Lakshmipur">Lakshmipur</option>
              <option value="Lalmonirhat">Lalmonirhat</option>
              <option value="Madaripur">Madaripur</option>
              <option value="Magura">Magura</option>
              <option value="Manikganj">Manikganj</option>
              <option value="Meherpur">Meherpur</option>
              <option value="Moulvibazar">Moulvibazar</option>
              <option value="Munshiganj">Munshiganj</option>
              <option value="Mymensingh">Mymensingh</option>
              <option value="Naogaon">Naogaon</option>
              <option value="Narail">Narail</option>
              <option value="Narayanganj">Narayanganj</option>
              <option value="Narsingdi">Narsingdi</option>
              <option value="Natore">Natore</option>
              <option value="Nawabganj">Nawabganj</option>
              <option value="Netrakona">Netrakona</option>
              <option value="Nilphamari">Nilphamari</option>
              <option value="Noakhali">Noakhali</option>
              <option value="Pabna">Pabna</option>
              <option value="Panchagarh">Panchagarh</option>
              <option value="Patuakhali">Patuakhali</option>
              <option value="Pirojpur">Pirojpur</option>
              <option value="Rajbari">Rajbari</option>
              <option value="Rajshahi">Rajshahi</option>
              <option value="Rangamati">Rangamati</option>
              <option value="Rangamati">Rangamati</option>
              <option value="Satkhira">Satkhira</option>
              <option value="Shariatpur">Shariatpur</option>
              <option value="Sherpur">Sherpur</option>
              <option value="Sirajganj">Sirajganj</option>
              <option value="Sunamganj">Sunamganj</option>
              <option value="Sylhet">Sylhet</option>
              <option value="Tangail">Tangail</option>
              <option value="Thakurgaon">Thakurgaon</option>
            </select>
            <label class="form-label" for="aoDistrictName">District Name</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="aoThanaName" class="form-control-file" formControlName="aoThanaName"/>
            <label class="form-label" for="aoThanaName">Thana Name/Workplace</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-outline">
            <input type="text" id="aoBatch" class="form-control-file" formControlName="aoBatch"/>
            <label class="form-label" for="aoBatch">Batch</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <select type="dropdown" id="aoRank" class="form-control-file" formControlName="aoRank">
              <option value="Constable">Constable</option>
              <option value="ASI">ASI</option>
              <option value="SI">SI</option>
              <option value="OC">OC</option>
              <option value="ASP">ASP</option>
              <option value="SASP">SASP</option>
              <option value="AdSP">AdSP</option>
              <option value="ADIGP">ADIGP</option>
              <option value="DIG">DIG</option>
              <option value="AdIGP">AdIGP</option>
              <option value="IGP">IGP</option>
          </select>
          <label class="form-label" for="aoRank">Rank</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="date" id="aoPlacementDate" class="form-control-file" formControlName="aoPlacementDate"/>
            <label class="form-label" for="aoPlacementDate">Placement Date</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="aoWeaponSerial" class="form-control-file" formControlName="aoWeaponSerial"/>
            <label class="form-label" for="aoWeaponSerial">Weapon Serial</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
            <div class="form-outline">
              <textarea name="" id="aoPresentAddress" class="form-control-file" formControlName="aoPresentAddress"></textarea>
              <label class="form-label" for="aoPresentAddress">Present Address</label>
            </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <textarea name="" id="aoPermanentAddress" class="form-control-file" formControlName="aoPermanentAddress"></textarea>
            <label class="form-label" for="aoPermanentAddress">Permanent Address</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
            <div class="form-outline">
              <input type="email" id="aoEmail" class="form-control-file" formControlName="aoEmail"/>
              <label class="form-label" for="aoEmail">Email</label>
            </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="aoOfficePhone" class="form-control-file" formControlName="aoOfficePhone"/>
            <label class="form-label" for="aoOfficePhone">Office Phone</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="aoPersonalPhone" class="form-control-file" formControlName="aoPersonalPhone"/>
            <label class="form-label" for="aoPersonalPhone">Personal Phone</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
            <div class="form-outline">
              <input type="text" id="aoUserName" class="form-control-file" formControlName="aoUserName"/>
              <label class="form-label" for="aoUserName">User Name</label>
            </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="password" id="aoPassword" class="form-control-file" formControlName="aoPassword"/>
            <label class="form-label" for="aoPassword">Password</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="password" id="aoConfirmPassword" class="form-control-file" formControlName="aoConfirmPassword"/>
            <label class="form-label" for="aoConfirmPassword">Confirm Password</label>
          </div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-4">
          <div class="form-outline">
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="reset" class="btn btn-warning">Reset</button>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>

