<div class="content-wrapper" style="background-color: cadetblue;">
  <div class="container-fluid">
    <form>
      <br>
      <a href="#" routerLink="/general/judge-information" ><button class="btn btn-secondary">Back to List</button></a>
      <br>
      <br>
      <div class="row">
        <div class="col">
          <div class="form-outline">
            <input type="text" id="ajJudgeId" class="form-control-file" />
            <label class="form-label" for="ajJudgeId">Judge ID</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="email" id="ajFirstName" class="form-control-file" />
            <label class="form-label" for="ajFirstName">First Name</label>
          </div>
        </div>
        <div class="col">
         <div class="form-outline">
            <input type="email" id="ajLastName" class="form-control-file" />
            <label class="form-label" for="ajLastName">Last Name</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-outline">
            <input type="email" id="ajFatherName" class="form-control-file" />
            <label class="form-label" for="ajFatherName">Father's Name</label>
          </div>
        </div>
        <div class="col">
         <div class="form-outline">
            <input type="email" id="ajMotherName" class="form-control-file" />
            <label class="form-label" for="ajMotherName">Mothers's Name</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <select type="dropdown" id="ajGender" class="form-control-file" name="gender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
            <label class="form-label" for="ajGender">Gender</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="date" id="ajDoB" class="form-control-file" />
            <label class="form-label" for="ajDoB">Date of Birth</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
            <div class="form-outline">
              <input type="text" id="ajCourtId" class="form-control-file" />
              <label class="form-label" for="ajCourtId">Court ID</label>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <select type="dropdown" id="ajCourtType" class="form-control-file">
                    <option value="Civil Court">Civil Court</option>
                    <option value="Criminal Court">Criminal Court</option>
                    <option value="Jurisdiction of the Appellate Division">Jurisdiction of the Appellate Division</option>
                    <option value="Jurisdiction of the High Court Division">Jurisdiction of the High Court Division</option>
                    <option value="Tribunals and Special Court">Tribunals and Special Court</option>
                    <option value="The International Crimes Tribunal">The International Crimes Tribunal</option>
                    <option value="Jurisdiction of Criminal Court">Jurisdiction of Criminal Court</option>
                </select>
                <label class="form-label" for="ajCourtType">Court Type</label>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-outline">
            <select type="dropdown" id="ajCourtCity" class="form-control-file">
              <option value="Bagerhat">Bagerhat</option>
              <option value="Bandarban">Bandarban</option>
              <option value="Barguna">Barguna</option>
              <option value="Barisal">Barisal</option>
              <option value="Bhola">Bhola</option>
              <option value="Bogra">Bogra</option>
              <option value="Brahmanbaria">Brahmanbaria</option>
              <option value="Chandpur">Chandpur</option>
              <option value="Chittagong">Chittagong</option>
              <option value="Chuadanga">Chuadanga</option>
              <option value="Comilla">Comilla</option>
              <option value="Cox's Bazar">Cox's Bazar</option>
              <option value="Dhaka">Dhaka</option>
              <option value="Dinajpur">Dinajpur</option>
              <option value="Faridpur">Faridpur</option>
              <option value="Feni">Feni</option>
              <option value="Gaibandha">Gaibandha</option>
              <option value="Gazipur">Gazipur</option>
              <option value="Gopalganj">Gopalganj</option>
              <option value="Habiganj">Habiganj</option>
              <option value="Jaipurhat">Jaipurhat</option>
              <option value="Jamalpur">Jamalpur</option>
              <option value="Jashore">Jashore</option>
              <option value="Jhalakati">Jhalakati</option>
              <option value="Jhenaidah">Jhenaidah</option>
              <option value="Khagrachari">Khagrachari</option>
              <option value="Khulna">Khulna</option>
              <option value="Kishoreganj">Kishoreganj</option>
              <option value="Kurigram">Kurigram</option>
              <option value="Kushtia">Kushtia</option>
              <option value="Lakshmipur">Lakshmipur</option>
              <option value="Lalmonirhat">Lalmonirhat</option>
              <option value="Madaripur">Madaripur</option>
              <option value="Magura">Magura</option>
              <option value="Manikganj">Manikganj</option>
              <option value="Meherpur">Meherpur</option>
              <option value="Moulvibazar">Moulvibazar</option>
              <option value="Munshiganj">Munshiganj</option>
              <option value="Mymensingh">Mymensingh</option>
              <option value="Naogaon">Naogaon</option>
              <option value="Narail">Narail</option>
              <option value="Narayanganj">Narayanganj</option>
              <option value="Narsingdi">Narsingdi</option>
              <option value="Natore">Natore</option>
              <option value="Nawabganj">Nawabganj</option>
              <option value="Netrakona">Netrakona</option>
              <option value="Nilphamari">Nilphamari</option>
              <option value="Noakhali">Noakhali</option>
              <option value="Pabna">Pabna</option>
              <option value="Panchagarh">Panchagarh</option>
              <option value="Patuakhali">Patuakhali</option>
              <option value="Pirojpur">Pirojpur</option>
              <option value="Rajbari">Rajbari</option>
              <option value="Rajshahi">Rajshahi</option>
              <option value="Rangamati">Rangamati</option>
              <option value="Rangamati">Rangamati</option>
              <option value="Satkhira">Satkhira</option>
              <option value="Shariatpur">Shariatpur</option>
              <option value="Sherpur">Sherpur</option>
              <option value="Sirajganj">Sirajganj</option>
              <option value="Sunamganj">Sunamganj</option>
              <option value="Sylhet">Sylhet</option>
              <option value="Tangail">Tangail</option>
              <option value="Thakurgaon">Thakurgaon</option>
            </select>
            <label class="form-label" for="ajCourtCity">Court City</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <select type="dropdown" id="ajCourtName" class="form-control-file">
                <option value="District Judge Court">District Judge Court</option>
                <option value="Additional District Judge Court">Additional District Judge Court</option>
                <option value="Joint District Judge Court">Joint District Judge Court</option>
                <option value="Senior Assistant Judge Court">Senior Assistant Judge Court</option>
                <option value="Assistant Judge Court">Assistant Judge Court</option>
                <option value="Small Causes Court">Small Causes Court</option>
                <option value="Family Courts">Family Courts</option>
                <option value="Court of Sessions">Court of Sessions</option>
                <option value="Magistrate Court">Magistrate Court</option>
                <option value="High Court">High Court</option>
                <option value="Appellate Division">Appellate Division</option>
            </select>
            <label class="form-label" for="ajCourtName">Court Name</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-outline">
            <input type="text" id="ajCourtNo" class="form-control-file" />
            <label class="form-label" for="ajCourtNo">Court No.</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <select type="dropdown" id="ajTribunalName" class="form-control-file">
                <option value="N/A">N/A</option>
                <option value="International Crime Tribunal">International Crime Tribunal</option>
                <option value="Administratibe Appellate Tribunal">Administratibe Appellate Tribunal</option>
                <option value="Labour Appellate Tribunal">Labour Appellate Tribunal</option>
                <option value="Cyber Tribunal">Cyber Tribunal</option>
                <option value="Custom Excise and VAT Appellate Tribunal">Custom Excise and VAT Appellate Tribunal</option>
                <option value="Taxes Appellate Tribunal">Taxes Appellate Tribunal</option>
                <option value="Court of Settlement">Court of Settlement</option>
                <option value="Special Tribunal Securities and Exchange Commission">Special Tribunal Securities and Exchange Commission</option>
            </select>
            <label class="form-label" for="ajTribunalName">Tribunal Name</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="ajChiefJustice" class="form-control-file" />
            <label class="form-label" for="ajChiefJustice">Chief Justice</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="ajChiefJusticeId" class="form-control-file" />
            <label class="form-label" for="ajChiefJusticeId">Chief Justice ID</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-outline">
            <input type="date" id="ajPlacementDate" class="form-control-file" />
            <label class="form-label" for="ajPlacementDate">Placement Date</label>
          </div>
        </div>
        <div class="col">
            <div class="form-outline">
              <input type="email" id="ajEmail" class="form-control-file" />
              <label class="form-label" for="ajEmail">Email</label>
            </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="ajOfficePhone" class="form-control-file" />
            <label class="form-label" for="ajOfficePhone">Office Phone</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="ajPersonalPhone" class="form-control-file" />
            <label class="form-label" for="ajPersonalPhone">Personal Phone</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
            <div class="form-outline">
              <textarea name="" id="ajPresentAddress" class="form-control-file" ></textarea>
              <label class="form-label" for="ajPresentAddress">Present Address</label>
            </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <textarea name="" id="ajPermanentAddress" class="form-control-file" ></textarea>
            <label class="form-label" for="ajPermanentAddress">Permanent Address</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
            <div class="form-outline">
              <input type="text" id="ajUserName" class="form-control-file" />
              <label class="form-label" for="ajUserName">User Name</label>
            </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="password" id="ajPassword" class="form-control-file" />
            <label class="form-label" for="ajPassword">Password</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="password" id="ajConfirmPassword" class="form-control-file" />
            <label class="form-label" for="ajConfirmPassword">Confirm Password</label>
          </div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-4">
          <div class="form-outline">
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="reset" class="btn btn-warning">Clear</button>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>

