<div class="content-wrapper" style="background-color: cadetblue;">
  <div class="container-fluid">
    <br>
    <h2>Add Police</h2>
    <br>
    <form [formGroup]="addPoliceForm" (ngSubmit)="submit()">
      <br>
      <a href="#" routerLink="/general/police-information" ><button class="btn btn-secondary">Back to List</button></a>
      <br>
      <br>
      <div class="row">
        <div class="col">
          <div class="form-outline">
            <input type="text" id="apPoliceId" class="form-control-file" formControlName="apPoliceId"/>
            <label class="form-label" for="apPoliceId">Police ID</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="apFirstName" class="form-control-file" formControlName="apFirstName"/>
            <label class="form-label" for="apFirstName">First Name</label>
          </div>
        </div>
        <div class="col">
         <div class="form-outline">
            <input type="text" id="apLastName" class="form-control-file" formControlName="apLastName"/>
            <label class="form-label" for="apLastName">Last Name</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-outline">
            <input type="text" id="apFatherName" class="form-control-file" formControlName="apFatherName"/>
            <label class="form-label" for="apFatherName">Father's Name</label>
          </div>
        </div>
        <div class="col">
         <div class="form-outline">
            <input type="text" id="apMotherName" class="form-control-file" formControlName="apMotherName"/>
            <label class="form-label" for="apMotherName">Mothers's Name</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <select type="dropdown" id="apGender" class="form-control-file" name="gender" formControlName="apGender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
            <label class="form-label" for="apGender">Gender</label>
          </div>
         </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-outline">
            <input type="date" id="apDoB" class="form-control-file" formControlName="apDoB"/>
            <label class="form-label" for="apDoB">Date of Birth</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="apDepartmentId" class="form-control-file" formControlName="apDepartmentId"/>
            <label class="form-label" for="apDepartmentId">Department ID</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
              <select type="dropdown" id="apDepartmentType" class="form-control-file" formControlName="apDepartmentType">
                  <option value="Armed Branch/Range Police">Armed Branch/Range Police</option>
                  <option value="DMP">DMP</option>
                  <option value="RMP">RMP</option>
                  <option value="RpMP">RpMP</option>
                  <option value="SMP">SMP</option>
                  <option value="KMP">KMP</option>
                  <option value="CMP">CMP</option>
                  <option value="BMP">BMP</option>
                  <option value="GMP">GMP</option>
                  <option value="RAB">RAB</option>
                  <option value="PBI">PBI</option>
                  <option value="CID">CID</option>
                  <option value="DB">DB</option>
              </select>
              <label class="form-label" for="apDepartmentType">Department Type</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-outline">
            <select type="dropdown" id="apDistrictName" class="form-control-file" formControlName="apDistrictName">
              <option value="Bagerhat">Bagerhat</option>
              <option value="Bandarban">Bandarban</option>
              <option value="Barguna">Barguna</option>
              <option value="Barisal">Barisal</option>
              <option value="Bhola">Bhola</option>
              <option value="Bogra">Bogra</option>
              <option value="Brahmanbaria">Brahmanbaria</option>
              <option value="Chandpur">Chandpur</option>
              <option value="Chittagong">Chittagong</option>
              <option value="Chuadanga">Chuadanga</option>
              <option value="Comilla">Comilla</option>
              <option value="Cox's Bazar">Cox's Bazar</option>
              <option value="Dhaka">Dhaka</option>
              <option value="Dinajpur">Dinajpur</option>
              <option value="Faridpur">Faridpur</option>
              <option value="Feni">Feni</option>
              <option value="Gaibandha">Gaibandha</option>
              <option value="Gazipur">Gazipur</option>
              <option value="Gopalganj">Gopalganj</option>
              <option value="Habiganj">Habiganj</option>
              <option value="Jaipurhat">Jaipurhat</option>
              <option value="Jamalpur">Jamalpur</option>
              <option value="Jashore">Jashore</option>
              <option value="Jhalakati">Jhalakati</option>
              <option value="Jhenaidah">Jhenaidah</option>
              <option value="Khagrachari">Khagrachari</option>
              <option value="Khulna">Khulna</option>
              <option value="Kishoreganj">Kishoreganj</option>
              <option value="Kurigram">Kurigram</option>
              <option value="Kushtia">Kushtia</option>
              <option value="Lakshmipur">Lakshmipur</option>
              <option value="Lalmonirhat">Lalmonirhat</option>
              <option value="Madaripur">Madaripur</option>
              <option value="Magura">Magura</option>
              <option value="Manikganj">Manikganj</option>
              <option value="Meherpur">Meherpur</option>
              <option value="Moulvibazar">Moulvibazar</option>
              <option value="Munshiganj">Munshiganj</option>
              <option value="Mymensingh">Mymensingh</option>
              <option value="Naogaon">Naogaon</option>
              <option value="Narail">Narail</option>
              <option value="Narayanganj">Narayanganj</option>
              <option value="Narsingdi">Narsingdi</option>
              <option value="Natore">Natore</option>
              <option value="Nawabganj">Nawabganj</option>
              <option value="Netrakona">Netrakona</option>
              <option value="Nilphamari">Nilphamari</option>
              <option value="Noakhali">Noakhali</option>
              <option value="Pabna">Pabna</option>
              <option value="Panchagarh">Panchagarh</option>
              <option value="Patuakhali">Patuakhali</option>
              <option value="Pirojpur">Pirojpur</option>
              <option value="Rajbari">Rajbari</option>
              <option value="Rajshahi">Rajshahi</option>
              <option value="Rangamati">Rangamati</option>
              <option value="Rangamati">Rangamati</option>
              <option value="Satkhira">Satkhira</option>
              <option value="Shariatpur">Shariatpur</option>
              <option value="Sherpur">Sherpur</option>
              <option value="Sirajganj">Sirajganj</option>
              <option value="Sunamganj">Sunamganj</option>
              <option value="Sylhet">Sylhet</option>
              <option value="Tangail">Tangail</option>
              <option value="Thakurgaon">Thakurgaon</option>
            </select>
            <label class="form-label" for="apDistrictName">District Name</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="apThanaName" class="form-control-file" formControlName="apThanaName"/>
            <label class="form-label" for="apThanaName">Thana Name/Workplace</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-outline">
            <input type="text" id="apBatch" class="form-control-file" formControlName="apBatch"/>
            <label class="form-label" for="apBatch">Batch</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <select type="dropdown" id="apRank" class="form-control-file" formControlName="apRank">
              <option value="Constable">Constable</option>
              <option value="ASI">ASI</option>
              <option value="SI">SI</option>
              <option value="OC">OC</option>
              <option value="ASP">ASP</option>
              <option value="SASP">SASP</option>
              <option value="AdSP">AdSP</option>
              <option value="ADIGP">ADIGP</option>
              <option value="DIG">DIG</option>
              <option value="AdIGP">AdIGP</option>
              <option value="IGP">IGP</option>
          </select>
          <label class="form-label" for="apRank">Rank</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="date" id="apPlacementDate" class="form-control-file" formControlName="apPlacementDate"/>
            <label class="form-label" for="apPlacementDate">Placement Date</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="apWeaponSerial" class="form-control-file" formControlName="apWeaponSerial"/>
            <label class="form-label" for="apWeaponSerial">Weapon Serial</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
            <div class="form-outline">
              <textarea name="" id="apPresentAddress" class="form-control-file" formControlName="apPresentAddress"></textarea>
              <label class="form-label" for="apPresentAddress">Present Address</label>
            </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <textarea name="" id="apPermanentAddress" class="form-control-file" formControlName="apPermanentAddress"></textarea>
            <label class="form-label" for="apPermanentAddress">Permanent Address</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
            <div class="form-outline">
              <input type="email" id="apEmail" class="form-control-file" formControlName="apEmail"/>
              <label class="form-label" for="apEmail">Email</label>
            </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="apOfficePhone" class="form-control-file" formControlName="apOfficePhone"/>
            <label class="form-label" for="apOfficePhone">Office Phone</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="apPersonalPhone" class="form-control-file" formControlName="apPersonalPhone"/>
            <label class="form-label" for="apPersonalPhone">Personal Phone</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
            <div class="form-outline">
              <input type="text" id="apUserName" class="form-control-file" formControlName="apUserName"/>
              <label class="form-label" for="apUserName">User Name</label>
            </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="password" id="apPassword" class="form-control-file" formControlName="apPassword"/>
            <label class="form-label" for="apPassword">Password</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="password" id="apConfirmPassword" class="form-control-file" formControlName="apConfirmPassword"/>
            <label class="form-label" for="apConfirmPassword">Confirm Password</label>
          </div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-4">
          <div class="form-outline">
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="reset" class="btn btn-warning">Reset</button>
          </div>
        </div>
      </div>

    </form>

    <br>
    <div class="container-fluid" >
      <table border="2" class="table table-stripped" >
        <thead>
          <th>Police ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Father's Name</th>
          <th>Mothers's Name</th>
          <th>Gender</th>
          <th>Date of Birth</th>
          <th>Department ID</th>
          <th>Department Type</th>
          <th>District Name</th>
          <th>Thana Name/Workplace</th>
          <th>Batch</th>
          <th>Rank</th>
          <th>Placement Date</th>
          <th>Weapon Serial</th>
          <th>Present Address</th>
          <th>Permanent Address</th>
          <th>Email</th>
          <th>Office Phone</th>
          <th>Personal Phone</th>
          <th>User Name</th>
          <th>Password</th>
          <th>Confirm Password</th>
          <th>Actions</th>
        </thead>
        <tbody>
        <tr *ngFor="let v of policeList">
          <td>{{v.apPoliceId}}</td>
          <td>{{v.apFirstName}}</td>
          <td>{{v.apLastName}}</td>
          <td>{{v.apFatherName}}</td>
          <td>{{v.apMotherName}}</td>
          <td>{{v.apGender}}</td>
          <td>{{v.apDoB}}</td>
          <td>{{v.apDepartmentId}}</td>
          <td>{{v.apDepartmentType}}</td>
          <td>{{v.apDistrictName}}</td>
          <td>{{v.apThanaName}}</td>
          <td>{{v.apBatch}}</td>
          <td>{{v.apRank}}</td>
          <td>{{v.apPlacementDate}}</td>
          <td>{{v.apWeaponSerial}}</td>
          <td>{{v.apPresentAddress}}</td>
          <td>{{v.apPermanentAddress}}</td>
          <td>{{v.apEmail}}</td>
          <td>{{v.apOfficePhone}}</td>
          <td>{{v.apPersonalPhone}}</td>
          <td>{{v.apUserName}}</td>
          <td>{{v.apPassword}}</td>
          <td>{{v.apConfirmPassword}}</td>
          <td>
              <button class="btn btn-success" >View</button>
              <button class="btn btn-warning" (click)="edit(v)">Edit</button>
              <button class="btn btn-danger" (click)="delete(v)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
      <br>
  </div>

  </div>
</div>
