<div class="content-wrapper" style="background-color: cadetblue">
    <div class="container-fluid">
      <form>
        <h2></h2>
        <h2>Information Verification</h2>
        <br>
        <h4>Add Information</h4>
        <br>
        <div class="accordion" id="accordion" >
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Source &amp; Others
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion" >
              <div class="accordion-body">
                <div class="row">
                  <div class="col">
                    <!-- Name input -->
                    <div class="form-outline">
                      <input type="text" id="form8Example1" class="form-control-file" />
                      <label class="form-label" for="form8Example1">GD Source (If Any)</label>
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col">
                    <!-- Email input -->
                    <div class="form-outline">
                      <input type="text" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example2">Recorder</label>
                    </div>
                  </div>
                  <div class="col">
                    <!-- Name input -->
                    <div class="form-outline">
                      <input type="text" id="form8Example4" class="form-control-file" />
                      <label class="form-label" for="form8Example4">BP/Court ID</label>
                    </div>
                  </div>
                  <div class="col">
                    <!-- Email input -->
                    <div class="form-outline">
                      <select type="dropdown" id="designation" class="form-control-file">
                        <option value="Constable">Constable</option>
                        <option value="ASI">ASI</option>
                        <option value="SI">SI</option>
                        <option value="OC">OC</option>
                        <option value="Court">Court</option>
                      </select>
                      <label class="form-label" for="designation">Designation</label>
                    </div>
                  </div>
                  <div class="col">
                    <!-- Email input -->
                    <div class="form-outline">
                      <input type="text" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example2">Thana</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                      <div class="form-outline">
                        <button type="submit" class="btn btn-info">Save</button>
                        <button type="reset" class="btn btn-danger">Clear</button>
                      </div>
                    </div>
                </div>
  
              </div>
            </div>
          </div>
  
  
  
  
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Person's Information
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordion" >
              <div class="accordion-body">
  
                <div class="row">
                  <div class="col">
                    <!-- Name input -->
                    <div class="form-outline">
                      <input type="text" id="form8Example1" class="form-control-file" />
                      <label class="form-label" for="form8Example1">Full Name</label>
                    </div>
                  </div>
                  <div class="col">
                    <!-- Email input -->
                    <div class="form-outline">
                      <input type="text" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example2">Father's Name</label>
                    </div>
                  </div>
                  <div class="col">
                    <!-- Email input -->
                    <div class="form-outline">
                      <input type="text" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example2">Mothers's Name</label>
                    </div>
                  </div>
  
                </div>
  
                <hr/>
  
                <div class="row">
                  <div class="col">
                    <!-- Email input -->
                    <div class="form-outline">
                      <input type="text" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example2">Estimated Age</label>
                    </div>
                  </div>
                  <div class="col">
                    <!-- Name input -->
                    <div class="form-outline">
                      <select type="dropdown" id="gender" class="form-control-file" name="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                      </select>
                      <label class="form-label" for="gender">Gender</label>
                    </div>
                  </div>
                  <div class="col">
                    <!-- Name input -->
                    <div class="form-outline">
                      <input type="text" id="form8Example4" class="form-control-file" />
                      <label class="form-label" for="form8Example4">Husband/Wife</label>
                    </div>
                  </div>
                  <div class="col">
                    <!-- Email input -->
                    <div class="form-outline">
                      <select type="dropdown" id="education" class="form-control-file">
                        <option value="Illiterate">Illiterate</option>
                        <option value="Below JSC">Below JSC</option>
                        <option value="JSC">JSC</option>
                        <option value="SSC">SSC</option>
                        <option value="HSC">HSC</option>
                        <option value="Graduation">Graduation</option>
                        <option value="Post-Graduation">Post-Graduation</option>
                      </select>
                      <label class="form-label" for="form8Example5">Education(Height)</label>
                    </div>
                  </div>
  
                </div>
  
                <hr/>
  
                <div class="row">
                  <div class="col">
                    <!-- Email input -->
                    <div class="form-outline">
                      <input type="text" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example2">Estimated Year of Birth</label>
                    </div>
                  </div>
                  <div class="col">
                    <!-- Email input -->
                    <div class="form-outline">
                      <select type="dropdown" id="education" class="form-control-file">
                        <option value="Muslim">Muslim</option>
                        <option value="Hindu">Hindu</option>
                        <option value="Buddhist">Buddhist</option>
                        <option value="Cristian">Cristian</option>
                        <option value="Others">Others</option>
                      </select>
                      <label class="form-label" for="form8Example5">Religion</label>
                    </div>
                  </div>
                  <div class="col">
                    <!-- Email input -->
                    <div class="form-outline">
                      <input type="text" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example2">Cast</label>
                    </div>
                  </div>
                </div>
  
                <hr/>
  
                <div class="row">
                  <div class="col">
                    <!-- Name input -->
                    <div class="form-outline">
                      <input type="text" id="form8Example1" class="form-control-file" />
                      <label class="form-label" for="form8Example1">Country</label>
                    </div>
                  </div>
                  <div class="col">
                    <!-- Email input -->
                    <div class="form-outline">
                      <select type="dropdown" id="division" class="form-control-file" >
                        <option value="Dhaka">Dhaka</option>
                        <option value="Rajshahi">Rajshahi</option>
                        <option value="Chattogram">Chattogram</option>
                        <option value="Khulna">Khulna</option>
                        <option value="Barisal">Barisal</option>
                        <option value="Sylhet">Sylhet</option>
                        <option value="Rangpur">Rangpur</option>
                        <option value="Mymensing">Mymensing</option>
                      </select>
                      <label class="form-label" for="form8Example2">Division</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <select type="dropdown" id="crDistrict" class="form-control-file">
                        <option value="Bagerhat">Bagerhat</option>
                        <option value="Bandarban">Bandarban</option>
                        <option value="Barguna">Barguna</option>
                        <option value="Barisal">Barisal</option>
                        <option value="Bhola">Bhola</option>
                        <option value="Bogra">Bogra</option>
                        <option value="Brahmanbaria">Brahmanbaria</option>
                        <option value="Chandpur">Chandpur</option>
                        <option value="Chittagong">Chittagong</option>
                        <option value="Chuadanga">Chuadanga</option>
                        <option value="Comilla">Comilla</option>
                        <option value="Cox's Bazar">Cox's Bazar</option>
                        <option value="Dhaka">Dhaka</option>
                        <option value="Dinajpur">Dinajpur</option>
                        <option value="Faridpur">Faridpur</option>
                        <option value="Feni">Feni</option>
                        <option value="Gaibandha">Gaibandha</option>
                        <option value="Gazipur">Gazipur</option>
                        <option value="Gopalganj">Gopalganj</option>
                        <option value="Habiganj">Habiganj</option>
                        <option value="Jaipurhat">Jaipurhat</option>
                        <option value="Jamalpur">Jamalpur</option>
                        <option value="Jashore">Jashore</option>
                        <option value="Jhalakati">Jhalakati</option>
                        <option value="Jhenaidah">Jhenaidah</option>
                        <option value="Khagrachari">Khagrachari</option>
                        <option value="Khulna">Khulna</option>
                        <option value="Kishoreganj">Kishoreganj</option>
                        <option value="Kurigram">Kurigram</option>
                        <option value="Kushtia">Kushtia</option>
                        <option value="Lakshmipur">Lakshmipur</option>
                        <option value="Lalmonirhat">Lalmonirhat</option>
                        <option value="Madaripur">Madaripur</option>
                        <option value="Magura">Magura</option>
                        <option value="Manikganj">Manikganj</option>
                        <option value="Meherpur">Meherpur</option>
                        <option value="Moulvibazar">Moulvibazar</option>
                        <option value="Munshiganj">Munshiganj</option>
                        <option value="Mymensingh">Mymensingh</option>
                        <option value="Naogaon">Naogaon</option>
                        <option value="Narail">Narail</option>
                        <option value="Narayanganj">Narayanganj</option>
                        <option value="Narsingdi">Narsingdi</option>
                        <option value="Natore">Natore</option>
                        <option value="Nawabganj">Nawabganj</option>
                        <option value="Netrakona">Netrakona</option>
                        <option value="Nilphamari">Nilphamari</option>
                        <option value="Noakhali">Noakhali</option>
                        <option value="Pabna">Pabna</option>
                        <option value="Panchagarh">Panchagarh</option>
                        <option value="Patuakhali">Patuakhali</option>
                        <option value="Pirojpur">Pirojpur</option>
                        <option value="Rajbari">Rajbari</option>
                        <option value="Rajshahi">Rajshahi</option>
                        <option value="Rangamati">Rangamati</option>
                        <option value="Rangamati">Rangamati</option>
                        <option value="Satkhira">Satkhira</option>
                        <option value="Shariatpur">Shariatpur</option>
                        <option value="Sherpur">Sherpur</option>
                        <option value="Sirajganj">Sirajganj</option>
                        <option value="Sunamganj">Sunamganj</option>
                        <option value="Sylhet">Sylhet</option>
                        <option value="Tangail">Tangail</option>
                        <option value="Thakurgaon">Thakurgaon</option>
                      </select>
                      <label class="form-label" for="crDistrict">District</label>
                    </div>
                  </div>
                  <div class="col">
                    <!-- Email input -->
                    <div class="form-outline">
                      <input type="text" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example2">Thana</label>
                    </div>
                  </div>
                </div>
  
                <hr/>
  
                <div class="row">
                  <div class="col">
                    <!-- Name input -->
                    <div class="form-outline">
                      <input type="text" id="form8Example1" class="form-control-file" />
                      <label class="form-label" for="form8Example1">Union</label>
                    </div>
                  </div>
                  <div class="col">
                    <!-- Email input -->
                    <div class="form-outline">
                      <input type="text" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example2">Word</label>
                    </div>
                  </div>
                  <div class="col">
                    <!-- Email input -->
                    <div class="form-outline">
                      <input type="text" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example2">Village</label>
                    </div>
                  </div>
                  <div class="col">
                    <!-- Email input -->
                    <div class="form-outline">
                      <input type="text" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example2">Road/House</label>
                    </div>
                  </div>
                </div>
  
                <hr/>
  
                <div class="row">
                  <div class="col">
                    <!-- Name input -->
                    <div class="form-outline">
                      <input type="text" id="form8Example1" class="form-control-file" />
                      <label class="form-label" for="form8Example1">Post Code</label>
                    </div>
                  </div>
                  <div class="col">
                    <!-- Email input -->
                    <div class="form-outline">
                      <input type="text" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example2">Mobile</label>
                    </div>
                  </div>
                  <div class="col">
                    <!-- Email input -->
                    <div class="form-outline">
                      <input type="email" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example2">Email</label>
                    </div>
                  </div>
                </div>
  
                <hr/>
  
                <div class="row">
                  <div class="col">
                    <!-- Email input -->
                    <div class="form-outline">
                      <input type="text" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example2">Passport No.</label>
                    </div>
                  </div>
                  <div class="col">
                    <!-- Email input -->
                    <div class="form-outline">
                      <input type="text" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example2">TIN No.</label>
                    </div>
                  </div>
                  <div class="col">
                    <!-- Email input -->
                    <div class="form-outline">
                      <input type="file" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example2">Photo</label>
                    </div>
                  </div>
                  <div class="col">
                    <!-- Email input -->
                    <div class="form-outline">
                      <input type="file" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example2">Document</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                      <div class="form-outline">
                        <button type="submit" class="btn btn-info">Save</button>
                        <button type="reset" class="btn btn-danger">Clear</button>
                      </div>
                    </div>
                </div>
  
              </div>
            </div>
          </div>
  
  
  
  
  
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Physical Description
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordion">
              <div class="accordion-body">
                <div class="row">
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="entryNo" class="form-control-file"/>
                      <label class="form-label" for="entryNo">Height</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="entryNo" class="form-control-file"/>
                      <label class="form-label" for="entryNo">Weight</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                        <select type="dropdown" id="education" class="form-control-file">
                          <option value="Round">Round</option>
                          <option value="Monolid">Monolid</option>
                          <option value="Hooded">Hooded</option>
                          <option value="Downturned">Downturned</option>
                          <option value="Upturned">Upturned</option>
                          <option value="Almond">Almond</option>
                        </select>
                        <label class="form-label" for="form8Example5">Eye</label>
                      </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                        <select type="dropdown" id="education" class="form-control-file">
                          <option value="Straight">Straight</option>
                          <option value="Wavy">Wavy</option>
                          <option value="Curly">Curly</option>
                          <option value="Coily">Coily</option>
                        </select>
                        <label class="form-label" for="form8Example5">Hair</label>
                    </div>
                  </div>
                </div>
  
                <hr/>
  
                <div class="row">
                    <div class="col">
                      <div class="form-outline">
                          <select type="dropdown" id="education" class="form-control-file">
                            <option value="Short">Short</option>
                            <option value="Long">Long</option>
                            <option value="Full">Full</option>
                            <option value="Scruffy">Scruffy</option>
                            <option value="Stubble">Stubble</option>
                            <option value="Goatee">Goatee</option>
                          </select>
                          <label class="form-label" for="form8Example5">Bread</label>
                        </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                          <select type="dropdown" id="education" class="form-control-file">
                            <option value="Bulbous Nose">Bulbous Nose</option>
                            <option value="Upturned Nose">Upturned Nose</option>
                            <option value="Button Nose or Snub Nose">Button Nose or Snub Nose</option>
                            <option value="Straight or Greek-Shaped Nose">Straight or Greek-Shaped Nose</option>
                            <option value="Hawk Nose or Roman Nose">Hawk Nose or Roman Nose</option>
                            <option value="Roman Nose">Roman Nose</option>
                            <option value="Fleshy Nose or Broad Nose">Fleshy Nose or Broad Nose</option>
                            <option value="Nubian Nose">Nubian Nose</option>
                          </select>
                          <label class="form-label" for="form8Example5">Nose</label>
                      </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <select type="dropdown" id="education" class="form-control-file">
                              <option value="Horizontally shaped forehead without slopes">Horizontally shaped forehead without slopes</option>
                              <option value="Sloped forehead">Sloped forehead</option>
                              <option value="Bow shaped forehead">Bow shaped forehead</option>
                              <option value="Small and broad forehead">Small and broad forehead</option>
                              <option value="High and slightly wide forehead">High and slightly wide forehead</option>
                              <option value="Forehead with lines and folds">Forehead with lines and folds</option>
                              <option value="Forehead with lines and folds">Forehead with lines and folds</option>
                            </select>
                            <label class="form-label" for="form8Example5">Forehead</label>
                          </div>
                    </div>
                </div>
  
                <hr/>
  
                <div class="row">
                    <div class="col">
                      <div class="form-outline">
                          <select type="dropdown" id="education" class="form-control-file">
                            <option value="Ectomorph">Ectomorph</option>
                            <option value="Mesomorph">Mesomorph</option>
                            <option value="Endomorph">Endomorph</option>
                            <option value="Combination type">Combination type</option>
                          </select>
                          <label class="form-label" for="form8Example5">Body Shape</label>
                        </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                          <select type="dropdown" id="education" class="form-control-file">
                            <option value="Oval Face">Oval Face</option>
                            <option value="Square Face">Square Face</option>
                            <option value="Round Face">Round Face</option>
                            <option value="Rectangle/Oblong Face">Rectangle/Oblong Face</option>
                            <option value="Diamond Face">Diamond Face</option>
                            <option value="Heart Shaped Face">Heart Shaped Face</option>
                          </select>
                          <label class="form-label" for="form8Example5">Face Shape</label>
                      </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <select type="dropdown" id="education" class="form-control-file">
                                <option value="Square Chin">Square Chin</option>
                                <option value="Short and Narrow Chin">Short and Narrow Chin</option>
                                <option value="Protruding Chin (Jutting)">Protruding Chin (Jutting)</option>
                                <option value="Round Chin (Double Chin)">Round Chin (Double Chin)</option>
                                <option value="Long Chin">Long Chin</option>
                                <option value="Weak Receding Chin">Weak Receding Chin</option>
                                <option value="Cleft Chin">Cleft Chin</option>
                                <option value="Wide Chin">Wide Chin</option>
                            </select>
                            <label class="form-label" for="form8Example5">Chin</label>
                          </div>
                    </div>
                </div>
  
                <hr/>
  
                <div class="row">
                    <div class="col">
                      <div class="form-outline">
                          <select type="dropdown" id="education" class="form-control-file">
                            <option value="Light">Light</option>
                            <option value="Fair">Fair</option>
                            <option value="Medium">Medium</option>
                            <option value="Deep (Dark)">Deep (Dark)</option>
                            <option value="Warm">Warm</option>
                            <option value="Cool">Cool</option>
                            <option value="Neutral">Neutral</option>
                          </select>
                          <label class="form-label" for="form8Example5">Skin Color</label>
                        </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                          <select type="dropdown" id="education" class="form-control-file">
                            <option value="Dallas mustache">Dallas mustache</option>
                            <option value="Natural mustache">Natural mustache</option>
                            <option value="Handlebar mustache">Handlebar mustache</option>
                            <option value="Pencil-thin mustache">Pencil-thin mustache</option>
                            <option value="Fu Manchu mustache">Fu Manchu mustache</option>
                            <option value="Horseshoe mustache">Horseshoe mustache</option>
                            <option value="Chevron mustache">Chevron mustache</option>
                          </select>
                          <label class="form-label" for="form8Example5">Mustaches</label>
                      </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <select type="dropdown" id="education" class="form-control-file">
                                <option value="Oblique">Oblique</option>
                                <option value="Rectangular">Rectangular</option>
                                <option value="Round">Round</option>
                                <option value="Triangular">Triangular</option>
                            </select>
                            <label class="form-label" for="form8Example5">Ear</label>
                          </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <select type="dropdown" id="education" class="form-control-file">
                                <option value="Bass">Bass</option>
                                <option value="Baritone">Baritone</option>
                                <option value="Tenor">Tenor</option>
                                <option value="Mezzo-Soprano">Mezzo-Soprano</option>
                                <option value="Countertenor">Countertenor</option>
                                <option value="Soprano">Soprano</option>
                            </select>
                            <label class="form-label" for="form8Example5">Voice</label>
                          </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                      <div class="form-outline">
                        <button type="submit" class="btn btn-info">Save</button>
                        <button type="reset" class="btn btn-danger">Clear</button>
                      </div>
                    </div>
                </div>
  
              </div>
            </div>
          </div>
  
  
  
  
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Identification
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordion">
              <div class="accordion-body">
                <div class="row">
                  <div class="col">
                    <div class="form-outline">
                          <select type="dropdown" id="education" class="form-control-file">
                              <option value="Still Lost">Still Lost</option>
                              <option value="Has Found">Has Found</option>
                          </select>
                          <label class="form-label" for="form8Example5">Lost/Found</label>
                        </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                          <select type="dropdown" id="education" class="form-control-file">
                              <option value="Yes">Yes</option>
                              <option value="No">No</option>
                          </select>
                          <label class="form-label" for="form8Example5">Identified</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                          <select type="dropdown" id="education" class="form-control-file">
                              <option value="N/A">N/A</option>
                              <option value="Awami League">Awami League</option>
                              <option value="Bangladesh Nationalist Party">Bangladesh Nationalist Party</option>
                              <option value="National Party">National Party</option>
                              <option value="Others">Others</option>
                          </select>
                          <label class="form-label" for="form8Example5">Political Identity</label>
                        </div>
                  </div>
                </div>
  
                <hr>
  
                <div class="row">
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example2">National ID</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example2">Bodily Scratches</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example2">Person's Type/Status</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                      <div class="form-outline">
                        <button type="submit" class="btn btn-info">Save</button>
                        <button type="reset" class="btn btn-danger">Clear</button>
                      </div>
                    </div>
                </div>
  
              </div>
            </div>
          </div>
  
  
  
  
  
  
  
         <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                Offence and Arms Related Information
              </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordion">
              <div class="accordion-body">
                <div class="row">
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example1">Forms of Offences</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example1">Notable Offences</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example1">Surrender Related Information</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example1">Probability of Performing Offences</label>
                    </div>
                  </div>
                </div>
  
                <hr>
  
                <div class="row">
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example1">Arrest Related Information</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example1">FIR No.</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <select type="dropdown" id="education" class="form-control-file">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                      </select>
                      <label class="form-label" for="form8Example1">Corrupted/Wicked</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example1">Illegal Arms Related Information</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example1">Legal Arms Related Information</label>
                    </div>
                  </div>
                </div>
  
                <hr>
  
                <div class="row">
                  <div class="col">
                    <div class="form-outline">
                      <input type="date" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example1">Last Released Date from Jail</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="date" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example1">Last Date of Arrest</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <select type="dropdown" id="education" class="form-control-file">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                      </select>
                      <label class="form-label" for="form8Example1">Bettor</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <select type="dropdown" id="education" class="form-control-file">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                      </select>
                      <label class="form-label" for="form8Example1">Extrimist</label>
                    </div>
                  </div>
                </div>
  
                <hr>
  
                <div class="row">
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example1">Name of Relative to This Person</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example1">Relation to This Person</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="form8Example2" class="form-control-file" />
                      <label class="form-label" for="form8Example1">Comment</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                      <div class="form-outline">
                        <button type="submit" class="btn btn-info">Save</button>
                        <button type="reset" class="btn btn-danger">Clear</button>
                      </div>
                    </div>
                </div>
  
              </div>
            </div>
          </div>
  
  
        </div>
        <br>
  
        <div class="row">
          <div class="col-md-4">
            <div class="form-outline">
              <button type="submit" class="btn btn-success">Submit</button>
              <button type="reset" class="btn btn-warning">Reset</button>
            </div>
          </div>
        </div>
  
      </form>
    </div>
    <br>
    <br>
  
    <div class="container-fluid" >
      <table border="2" class="table table-stripped" style="background-color: cadetblue">
        <thead>
          <th>Verification Status</th>
          <th>Verified By</th>
          <th>GD Source</th>
          <th>GD Recorder</th>
          <th>BP/Court ID</th>
          <th>Designation</th>
          <th>Thana</th>
          <th>Full Name</th>
          <th>Father's Name</th>
          <th>Mothers's Name</th>
          <th>Estimated Age</th>
          <th>Gender</th>
          <th>Husband/Wife</th>
          <th>Education</th>
          <th>Estimated Year of Birth</th>
          <th>Religion</th>
          <th>Cast</th>
          <th>Country</th>
          <th>Division</th>
          <th>District</th>
          <th>Thana</th>
          <th>Union</th>
          <th>Word</th>
          <th>Village</th>
          <th>Road/House</th>
          <th>Post Code</th>
          <th>Mobile</th>
          <th>Email</th>
          <th>Passport No.</th>
          <th>TIN No.</th>
          <th>Photo</th>
          <th>Document</th>
          <th>Height</th>
          <th>Weight</th>
          <th>Eye</th>
          <th>Hair</th>
          <th>Bread</th>
          <th>Nose</th>
          <th>Forehead</th>
          <th>Body Shape</th>
          <th>Face Shape</th>
          <th>Chin</th>
          <th>Skin Color</th>
          <th>Mustaches</th>
          <th>Ear</th>
          <th>Voice</th>
          <th>Lost/Found</th>
          <th>Identified</th>
          <th>Political Identity</th>
          <th>National ID</th>
          <th>Bodily Scratches</th>
          <th>Person's Type/Status</th>
          <th>Forms of Offences</th>
          <th>Notable Offences</th>
          <th>Surrender Related Information</th>
          <th>Probability of Performing Offences</th>
          <th>Arrest Related Information</th>
          <th>FIR No.</th>
          <th>Corrupted/Wicked</th>
          <th>Illegal Arms Related Information</th>
          <th>Legal Arms Related Information</th>
          <th>Last Released Date from Jail</th>
          <th>Last Date of Arrest</th>
          <th>Bettor</th>
          <th>Extrimist</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
              <button class="btn btn-success">View</button>
              <button class="btn btn-light">Edit</button>
              <button class="btn btn-warning">Delete</button>
          </td>
        </tbody>
      </table>
    </div>
  
  
  </div>
  
  
  
