<div class="content-wrapper" style="background-color: cadetblue; overflow-y: scroll;">
    <div class="container-fluid">
    <form>
      <br>
      <br>
      <table border="1" class="table table-stripped">
        <th>
            <h2>Add New Police</h2>
        </th>
        <th>
          <a href="#" routerLink="/manage/add-police" ><button class="btn btn-secondary">Add Police</button></a>
        </th>
      </table>
    </form>
    <br>
    </div>
    <div class="container-fluid" >
        <table border="2" class="table table-stripped" >
          <thead>
            <th>Police ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Father's Name</th>
            <th>Mothers's Name</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Department ID</th>
            <th>Department Type</th>
            <th>District Name</th>
            <th>Thana Name/Workplace</th>
            <th>Batch</th>
            <th>Rank</th>
            <th>Placement Date</th>
            <th>Weapon Serial</th>
            <th>Present Address</th>
            <th>Permanent Address</th>
            <th>Email</th>
            <th>Office Phone</th>
            <th>Personal Phone</th>
            <th>User Name</th>
            <th>Password</th>
            <th>Confirm Password</th>
            <th>Actions</th>
          </thead>
          <tbody>
          <tr *ngFor="let v of police">
            <td>{{v.apPoliceId}}</td>
            <td>{{v.apFirstName}}</td>
            <td>{{v.apLastName}}</td>
            <td>{{v.apFatherName}}</td>
            <td>{{v.apMotherName}}</td>
            <td>{{v.apGender}}</td>
            <td>{{v.apDoB}}</td>
            <td>{{v.apDepartmentId}}</td>
            <td>{{v.apDepartmentType}}</td>
            <td>{{v.apDistrictName}}</td>
            <td>{{v.apThanaName}}</td>
            <td>{{v.apBatch}}</td>
            <td>{{v.apRank}}</td>
            <td>{{v.apPlacementDate}}</td>
            <td>{{v.apWeaponSerial}}</td>
            <td>{{v.apPresentAddress}}</td>
            <td>{{v.apPermanentAddress}}</td>
            <td>{{v.apEmail}}</td>
            <td>{{v.apOfficePhone}}</td>
            <td>{{v.apPersonalPhone}}</td>
            <td>{{v.apUserName}}</td>
            <td>{{v.apPassword}}</td>
            <td>{{v.apConfirmPassword}}</td>
            <td>
                <button class="btn btn-success" (click)="viewPolice(v)">View</button>
                <button class="btn btn-warning">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
    </div>
</div>

