<div class="content-wrapper" style="background-color: cadetblue;">
  <div class="container-fluid">
  <form>
    <br>
    <br>
    <table border="1" class="table table-stripped">
      <th>
          <h2>Add Lost Person</h2>
      </th>
      <th>
        <a href="#" routerLink="/person/lost-person-entry" ><button class="btn btn-secondary">Add Lost Person</button></a>
      </th>
    </table>
  </form>
  <br>
  </div>

  <div class="container-fluid" >
    <table border="2" class="table table-stripped" style="background-color: cadetblue">
      <thead>
        <th>GD Source</th>
        <th>GD Recorder</th>
        <th>BP/Court ID</th>
        <th>Designation</th>
        <th>Thana</th>
        <th>Full Name</th>
        <th>Father's Name</th>
        <th>Mothers's Name</th>
        <th>Estimated Age</th>
        <th>Gender</th>
        <th>Husband/Wife</th>
        <th>Education</th>
        <th>Estimated Year of Birth</th>
        <th>Religion</th>
        <th>Cast</th>
        <th>Country</th>
        <th>Division</th>
        <th>District</th>
        <th>Thana</th>
        <th>Union</th>
        <th>Word</th>
        <th>Village</th>
        <th>Road/House</th>
        <th>Post Code</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Passport No.</th>
        <th>TIN No.</th>
        <th>Photo</th>
        <th>Document</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Eye</th>
        <th>Hair</th>
        <th>Bread</th>
        <th>Nose</th>
        <th>Forehead</th>
        <th>Body Shape</th>
        <th>Face Shape</th>
        <th>Chin</th>
        <th>Skin Color</th>
        <th>Mustaches</th>
        <th>Ear</th>
        <th>Voice</th>
        <th>Lost/Found</th>
        <th>Identified</th>
        <th>Political Identity</th>
        <th>National ID</th>
        <th>Bodily Scratches</th>
        <th>Person's Type/Status</th>
        <th>Forms of Offences</th>
        <th>Notable Offences</th>
        <th>Surrender Related Information</th>
        <th>Probability of Performing Offences</th>
        <th>Arrest Related Information</th>
        <th>FIR No.</th>
        <th>Corrupted/Wicked</th>
        <th>Illegal Arms Related Information</th>
        <th>Legal Arms Related Information</th>
        <th>Last Released Date from Jail</th>
        <th>Last Date of Arrest</th>
        <th>Bettor</th>
        <th>Extrimist</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <button class="btn btn-success">View</button>
            <button class="btn btn-light">Edit</button>
            <button class="btn btn-warning">Delete</button>
        </td>
      </tbody>
    </table>
  </div>

</div>
