<div class="content-wrapper" style="background-color: cadetblue;">
  <div class="container-fluid">
    <form (ngSubmit)="submit()">
      <br>
      <a href="#" routerLink="/general/jailer-information" ><button class="btn btn-secondary">Back to List</button></a>
      <br>
      <br>
      <div class="row">
        <div class="col">
          <div class="form-outline">
            <input type="text" id="ajailerJailerId" class="form-control-file" formControlName="ajailerJailerId"/>
            <label class="form-label" for="ajailerJailerId">Jailer ID</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="ajailerFirstName" class="form-control-file" formControlName="ajailerFirstName"/>
            <label class="form-label" for="ajailerFirstName">First Name</label>
          </div>
        </div>
        <div class="col">
         <div class="form-outline">
            <input type="text" id="ajailerLastName" class="form-control-file" formControlName="ajailerLastName"/>
            <label class="form-label" for="ajailerLastName">Last Name</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-outline">
            <input type="text" id="ajailerFatherName" class="form-control-file" formControlName="ajailerFatherName"/>
            <label class="form-label" for="ajailerFatherName">Father's Name</label>
          </div>
        </div>
        <div class="col">
         <div class="form-outline">
            <input type="text" id="ajailerMotherName" class="form-control-file" formControlName="ajailerMotherName"/>
            <label class="form-label" for="ajailerMotherName">Mothers's Name</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <select type="dropdown" id="ajailerGender" class="form-control-file" name="gender" formControlName="ajailerGender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
            <label class="form-label" for="ajailerGender">Gender</label>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="date" id="ajailerDoB" class="form-control-file" formControlName="ajailerDoB"/>
              <label class="form-label" for="ajailerDoB">Date of Birth</label>
            </div>
          </div>
         </div>
      </div>

      <div class="row">
        <div class="col">
            <div class="form-outline">
              <input type="text" id="ajailerJailId" class="form-control-file" formControlName="ajailerJailId"/>
              <label class="form-label" for="ajailerJailId">Jail ID</label>
            </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="ajailerPoliceId" class="form-control-file" formControlName="ajailerPoliceId"/>
            <label class="form-label" for="ajailerPoliceId">Police ID</label>
          </div>
      </div>
        <div class="col">
            <div class="form-outline">
                <select type="dropdown" id="ajailerJailType" class="form-control-file" formControlName="ajailerJailType">
                    <option value="Central Jail">Central Jail</option>
                    <option value="District Jail">District Jail</option>
                    <option value="Special Jail">Special Jail</option>
                </select>
                <label class="form-label" for="ajailerJailType">Jail Type</label>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-outline">
            <select type="dropdown" id="ajailerJailCity" class="form-control-file" formControlName="ajailerJailCity">
              <option value="Bagerhat">Bagerhat</option>
              <option value="Bandarban">Bandarban</option>
              <option value="Barguna">Barguna</option>
              <option value="Barisal">Barisal</option>
              <option value="Bhola">Bhola</option>
              <option value="Bogra">Bogra</option>
              <option value="Brahmanbaria">Brahmanbaria</option>
              <option value="Chandpur">Chandpur</option>
              <option value="Chittagong">Chittagong</option>
              <option value="Chuadanga">Chuadanga</option>
              <option value="Comilla">Comilla</option>
              <option value="Cox's Bazar">Cox's Bazar</option>
              <option value="Dhaka">Dhaka</option>
              <option value="Dinajpur">Dinajpur</option>
              <option value="Faridpur">Faridpur</option>
              <option value="Feni">Feni</option>
              <option value="Gaibandha">Gaibandha</option>
              <option value="Gazipur">Gazipur</option>
              <option value="Gopalganj">Gopalganj</option>
              <option value="Habiganj">Habiganj</option>
              <option value="Jaipurhat">Jaipurhat</option>
              <option value="Jamalpur">Jamalpur</option>
              <option value="Jashore">Jashore</option>
              <option value="Jhalakati">Jhalakati</option>
              <option value="Jhenaidah">Jhenaidah</option>
              <option value="Khagrachari">Khagrachari</option>
              <option value="Khulna">Khulna</option>
              <option value="Kishoreganj">Kishoreganj</option>
              <option value="Kurigram">Kurigram</option>
              <option value="Kushtia">Kushtia</option>
              <option value="Lakshmipur">Lakshmipur</option>
              <option value="Lalmonirhat">Lalmonirhat</option>
              <option value="Madaripur">Madaripur</option>
              <option value="Magura">Magura</option>
              <option value="Manikganj">Manikganj</option>
              <option value="Meherpur">Meherpur</option>
              <option value="Moulvibazar">Moulvibazar</option>
              <option value="Munshiganj">Munshiganj</option>
              <option value="Mymensingh">Mymensingh</option>
              <option value="Naogaon">Naogaon</option>
              <option value="Narail">Narail</option>
              <option value="Narayanganj">Narayanganj</option>
              <option value="Narsingdi">Narsingdi</option>
              <option value="Natore">Natore</option>
              <option value="Nawabganj">Nawabganj</option>
              <option value="Netrakona">Netrakona</option>
              <option value="Nilphamari">Nilphamari</option>
              <option value="Noakhali">Noakhali</option>
              <option value="Pabna">Pabna</option>
              <option value="Panchagarh">Panchagarh</option>
              <option value="Patuakhali">Patuakhali</option>
              <option value="Pirojpur">Pirojpur</option>
              <option value="Rajbari">Rajbari</option>
              <option value="Rajshahi">Rajshahi</option>
              <option value="Rangamati">Rangamati</option>
              <option value="Rangamati">Rangamati</option>
              <option value="Satkhira">Satkhira</option>
              <option value="Shariatpur">Shariatpur</option>
              <option value="Sherpur">Sherpur</option>
              <option value="Sirajganj">Sirajganj</option>
              <option value="Sunamganj">Sunamganj</option>
              <option value="Sylhet">Sylhet</option>
              <option value="Tangail">Tangail</option>
              <option value="Thakurgaon">Thakurgaon</option>
            </select>
            <label class="form-label" for="ajailerJailCity">Jail City</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="ajailerJailName" class="form-control-file" formControlName="ajailerJailName"/>
            <label class="form-label" for="ajailerJailName">Jail Name</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-outline">
            <input type="date" id="ajailerPlacementDate" class="form-control-file" formControlName="ajailerPlacementDate"/>
            <label class="form-label" for="ajailerPlacementDate">Placement Date</label>
          </div>
        </div>
        <div class="col">
            <div class="form-outline">
              <input type="email" id="ajailerEmail" class="form-control-file" formControlName="ajailerEmail"/>
              <label class="form-label" for="ajailerEmail">Email</label>
            </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="ajailerOfficePhone" class="form-control-file" formControlName="ajailerOfficePhone"/>
            <label class="form-label" for="ajailerOfficePhone">Office Phone</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="ajailerPersonalPhone" class="form-control-file" formControlName="ajailerPersonalPhone"/>
            <label class="form-label" for="ajailerPersonalPhone">Personal Phone</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
            <div class="form-outline">
              <textarea name="" id="ajailerPresentAddress" class="form-control-file" formControlName="ajailerPresentAddress"></textarea>
              <label class="form-label" for="ajailerPresentAddress">Present Address</label>
            </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <textarea name="" id="ajailerPermanentAddress" class="form-control-file" formControlName="ajailerPermanentAddress"></textarea>
            <label class="form-label" for="ajailerPermanentAddress">Permanent Address</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
            <div class="form-outline">
              <input type="text" id="ajailerUserName" class="form-control-file" formControlName="ajailerUserName"/>
              <label class="form-label" for="ajailerUserName">User Name</label>
            </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="password" id="ajailerPassword" class="form-control-file" formControlName="ajailerPassword"/>
            <label class="form-label" for="ajailerPassword">Password</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="password" id="ajailerConfirmPassword" class="form-control-file" formControlName="ajailerConfirmPassword"/>
            <label class="form-label" for="ajailerConfirmPassword">Confirm Password</label>
          </div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-4">
          <div class="form-outline">
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="reset" class="btn btn-warning">Reset</button>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>


