<div class="content-wrapper" style="background-color: cadetblue">
  <div class="container-fluid">
    <form>
      <h2></h2>
      <h2>Person's Case Entry</h2>

      <div class="accordion" id="accordion" >
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Case Source &amp; Others
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion" >
            <div class="accordion-body">
              <div class="row">
                <div class="col">
                  <!-- Name input -->
                  <div class="form-outline">
                    <input type="text" id="form8Example1" class="form-control-file" />
                    <label class="form-label" for="form8Example1">Case Source</label>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="text" id="form8Example2" class="form-control-file" />
                    <label class="form-label" for="form8Example2">Case Recorder</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Name input -->
                  <div class="form-outline">
                    <input type="text" id="form8Example4" class="form-control-file" />
                    <label class="form-label" for="form8Example4">BP/Court ID</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <select type="dropdown" id="designation" class="form-control-file">
                      <option value="Constable">Constable</option>
                      <option value="ASI">ASI</option>
                      <option value="SI">SI</option>
                      <option value="OC">OC</option>
                      <option value="Court">Court</option>
                    </select>
                    <label class="form-label" for="designation">Designation</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="text" id="form8Example2" class="form-control-file" />
                    <label class="form-label" for="form8Example2">Thana</label>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>




        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Complainant Information
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion" >
            <div class="accordion-body">
              <div class="row">
                <div class="col">
                  <!-- Name input -->
                  <div class="form-outline">
                    <input type="text" id="form8Example1" class="form-control-file" />
                    <label class="form-label" for="form8Example1">Full Name</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="email" id="form8Example2" class="form-control-file" />
                    <label class="form-label" for="form8Example2">Father's Name</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="email" id="form8Example2" class="form-control-file" />
                    <label class="form-label" for="form8Example2">Mothers's Name</label>
                  </div>
                </div>

              </div>

              <hr/>

              <div class="row">
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="email" id="form8Example2" class="form-control-file" />
                    <label class="form-label" for="form8Example2">Estimated Age</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Name input -->
                  <div class="form-outline">
                    <select type="dropdown" id="gender" class="form-control-file" name="gender">
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                    </select>
                    <label class="form-label" for="gender">Gender</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Name input -->
                  <div class="form-outline">
                    <input type="text" id="form8Example4" class="form-control-file" />
                    <label class="form-label" for="form8Example4">Husband/Wife</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <select type="dropdown" id="education" class="form-control-file">
                      <option value="Illiterate">Illiterate</option>
                      <option value="Below JSC">Below JSC</option>
                      <option value="JSC">JSC</option>
                      <option value="SSC">SSC</option>
                      <option value="HSC">HSC</option>
                      <option value="BSC">BSC</option>
                      <option value="MSC">MSC</option>
                    </select>
                    <label class="form-label" for="form8Example5">Education</label>
                  </div>
                </div>

              </div>

              <hr/>

              <div class="row">
                <div class="col">
                  <!-- Name input -->
                  <div class="form-outline">
                    <input type="text" id="form8Example1" class="form-control-file" />
                    <label class="form-label" for="form8Example1">Country</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <select type="dropdown" id="division" class="form-control-file" >
                      <option value="Dhaka">Dhaka</option>
                      <option value="Rajshahi">Rajshahi</option>
                      <option value="Chattogram">Chattogram</option>
                      <option value="Khulna">Khulna</option>
                      <option value="Barisal">Barisal</option>
                      <option value="Sylhet">Sylhet</option>
                      <option value="Rangpur">Rangpur</option>
                      <option value="Mymensing">Mymensing</option>
                    </select>
                    <label class="form-label" for="form8Example2">Division</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="email" id="form8Example2" class="form-control-file" />
                    <label class="form-label" for="form8Example2">District</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="email" id="form8Example2" class="form-control-file" />
                    <label class="form-label" for="form8Example2">Thana</label>
                  </div>
                </div>
              </div>

              <hr/>

              <div class="row">
                <div class="col">
                  <!-- Name input -->
                  <div class="form-outline">
                    <input type="text" id="form8Example1" class="form-control-file" />
                    <label class="form-label" for="form8Example1">Union</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="email" id="form8Example2" class="form-control-file" />
                    <label class="form-label" for="form8Example2">Word</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="email" id="form8Example2" class="form-control-file" />
                    <label class="form-label" for="form8Example2">Village</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="email" id="form8Example2" class="form-control-file" />
                    <label class="form-label" for="form8Example2">Road/House</label>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>




        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Inquiry Details
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
            <div class="accordion-body">
              <div class="row">
                <div class="col">
                  <!-- Name input -->
                  <div class="form-outline">
                    <input type="number" id="entryNo" class="form-control-file"/>
                    <label class="form-label" for="entryNo">Record Entry No.</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="date" id="form8Example2" class="form-control-file" />
                    <label class="form-label" for="form8Example2">Record Entry Date</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="time" id="form8Example2" class="form-control-file"/>
                    <label class="form-label" for="form8Example2">Record Entry Time</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="text" id="form8Example2" class="form-control-file" />
                    <label class="form-label" for="form8Example2">Record Entry Place</label>
                  </div>
                </div>
              </div>

              <hr/>

              <div class="row">
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="email" id="form8Example2" class="form-control-file"/>
                    <label class="form-label" for="form8Example2">Record Entry Summery</label>
                  </div>
                </div>
              </div>

              <hr/>

              <div class="row">
                <div class="col-md-12">
                  <!-- Name input -->
                  <div class="form-outline">
                    <textarea type="text" id="form8Example1" class="form-control-file"></textarea>
                    <label class="form-label" for="form8Example1">Details Entry</label>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>





        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Convicted's Personal Information
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordion" >
            <div class="accordion-body">

              <div class="row">
                <div class="col">
                  <!-- Name input -->
                  <div class="form-outline">
                    <input type="text" id="form8Example1" class="form-control-file" />
                    <label class="form-label" for="form8Example1">Convicted No.</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Name input -->
                  <div class="form-outline">
                    <input type="text" id="form8Example1" class="form-control-file" />
                    <label class="form-label" for="form8Example1">Full Name</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="email" id="form8Example2" class="form-control-file" />
                    <label class="form-label" for="form8Example2">Father's Name</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="email" id="form8Example2" class="form-control-file" />
                    <label class="form-label" for="form8Example2">Mothers's Name</label>
                  </div>
                </div>

              </div>

              <hr/>

              <div class="row">
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="email" id="form8Example2" class="form-control-file" />
                    <label class="form-label" for="form8Example2">Estimated Age</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Name input -->
                  <div class="form-outline">
                    <select type="dropdown" id="gender" class="form-control-file" name="gender">
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                    </select>
                    <label class="form-label" for="gender">Gender</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Name input -->
                  <div class="form-outline">
                    <input type="text" id="form8Example4" class="form-control-file" />
                    <label class="form-label" for="form8Example4">Husband/Wife</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <select type="dropdown" id="education" class="form-control-file">
                      <option value="Illiterate">Illiterate</option>
                      <option value="Below JSC">Below JSC</option>
                      <option value="JSC">JSC</option>
                      <option value="SSC">SSC</option>
                      <option value="HSC">HSC</option>
                      <option value="BSC">BSC</option>
                      <option value="MSC">MSC</option>
                    </select>
                    <label class="form-label" for="form8Example5">Education</label>
                  </div>
                </div>

              </div>

              <hr/>

              <div class="row">
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="email" id="form8Example2" class="form-control-file" />
                    <label class="form-label" for="form8Example2">Estimated Year of Birth</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <select type="dropdown" id="education" class="form-control-file">
                      <option value="Muslim">Muslim</option>
                      <option value="Hindu">Hindu</option>
                      <option value="Buddhist">Buddhist</option>
                      <option value="Cristian">Cristian</option>
                      <option value="Others">Others</option>
                    </select>
                    <label class="form-label" for="form8Example5">Religion</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="email" id="form8Example2" class="form-control-file" />
                    <label class="form-label" for="form8Example2">Cast</label>
                  </div>
                </div>
              </div>

              <hr/>

              <div class="row">
                <div class="col">
                  <!-- Name input -->
                  <div class="form-outline">
                    <input type="text" id="form8Example1" class="form-control-file" />
                    <label class="form-label" for="form8Example1">Country</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <select type="dropdown" id="division" class="form-control-file" >
                      <option value="Dhaka">Dhaka</option>
                      <option value="Rajshahi">Rajshahi</option>
                      <option value="Chattogram">Chattogram</option>
                      <option value="Khulna">Khulna</option>
                      <option value="Barisal">Barisal</option>
                      <option value="Sylhet">Sylhet</option>
                      <option value="Rangpur">Rangpur</option>
                      <option value="Mymensing">Mymensing</option>
                    </select>
                    <label class="form-label" for="form8Example2">Division</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="email" id="form8Example2" class="form-control-file" />
                    <label class="form-label" for="form8Example2">District</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="email" id="form8Example2" class="form-control-file" />
                    <label class="form-label" for="form8Example2">Thana</label>
                  </div>
                </div>
              </div>

              <hr/>

              <div class="row">
                <div class="col">
                  <!-- Name input -->
                  <div class="form-outline">
                    <input type="text" id="form8Example1" class="form-control-file" />
                    <label class="form-label" for="form8Example1">Union</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="email" id="form8Example2" class="form-control-file" />
                    <label class="form-label" for="form8Example2">Word</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="email" id="form8Example2" class="form-control-file" />
                    <label class="form-label" for="form8Example2">Village</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="email" id="form8Example2" class="form-control-file" />
                    <label class="form-label" for="form8Example2">Road/House</label>
                  </div>
                </div>
              </div>

              <hr/>

              <div class="row">
                <div class="col">
                  <!-- Name input -->
                  <div class="form-outline">
                    <input type="text" id="form8Example1" class="form-control-file" />
                    <label class="form-label" for="form8Example1">Post Code</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="email" id="form8Example2" class="form-control-file" />
                    <label class="form-label" for="form8Example2">Mobile</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="email" id="form8Example2" class="form-control-file" />
                    <label class="form-label" for="form8Example2">Email</label>
                  </div>
                </div>
              </div>

              <hr/>

              <div class="row">
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="email" id="form8Example2" class="form-control-file" />
                    <label class="form-label" for="form8Example2">Passport No.</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="email" id="form8Example2" class="form-control-file" />
                    <label class="form-label" for="form8Example2">TIN No.</label>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>





        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Convict with Action
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordion">
            <div class="accordion-body">
              <div class="row">
                <div class="col">
                  <!-- Name input -->
                  <div class="form-outline">
                    <input type="text" id="entryNo" class="form-control-file"/>
                    <label class="form-label" for="entryNo">Arrested &amp; Court Forwarded Convict</label>
                  </div>
                </div>
              </div>

              <hr/>

              <div class="row">
                <div class="col">
                  <!-- Name input -->
                  <div class="form-outline">
                    <input type="text" id="entryNo" class="form-control-file"/>
                    <label class="form-label" for="entryNo">Arrested &amp; Bailed Convict</label>
                  </div>
                </div>
              </div>

              <hr/>

              <div class="row">
                <div class="col">
                  <!-- Name input -->
                  <div class="form-outline">
                    <input type="text" id="entryNo" class="form-control-file"/>
                    <label class="form-label" for="entryNo">Absconded Convict</label>
                  </div>
                </div>
              </div>
              
              <hr/>

              <div class="row">
                <div class="col-md-12">
                  <!-- Name input -->
                  <div class="form-outline">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="reset" class="btn btn-warning">Clear</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>





        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              Case Details Entry
            </button>
          </h2>
          <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordion">
            <div class="accordion-body">
              <div class="row">
                <div class="col">
                  <!-- Name input -->
                  <div class="form-outline">
                    <input type="number" id="entryNo" class="form-control-file"/>
                    <label class="form-label" for="entryNo">Record Entry No.</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="date" id="form8Example2" class="form-control-file" />
                    <label class="form-label" for="form8Example2">Record Entry Date</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="time" id="form8Example2" class="form-control-file"/>
                    <label class="form-label" for="form8Example2">Record Entry Time</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="text" id="form8Example2" class="form-control-file" />
                    <label class="form-label" for="form8Example2">Record Entry Place</label>
                  </div>
                </div>
              </div>

              <hr/>

              <div class="row">
                <div class="col">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input type="email" id="form8Example2" class="form-control-file"/>
                    <label class="form-label" for="form8Example2">Record Entry Summery</label>
                  </div>
                </div>
              </div>

              <hr/>

              <div class="row">
                <div class="col-md-12">
                  <!-- Name input -->
                  <div class="form-outline">
                    <textarea type="text" id="form8Example1" class="form-control-file"></textarea>
                    <label class="form-label" for="form8Example1">Details Entry</label>
                  </div>
                </div>
              </div>

              <hr/>

              <div class="row">
                <div class="col-md-12">
                  <!-- Name input -->
                  <div class="form-outline">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="reset" class="btn btn-warning">Clear</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>

    </form>
  </div>

</div>
