<div class="content-wrapper" style="background-color: cadetblue;">
  <div class="container-fluid">
    <form (ngSubmit)="submit()">
      <br>
      <a href="#" routerLink="/general/pp-information" ><button class="btn btn-secondary">Back to List</button></a>
      <br>
      <br>
      <div class="row">
        <div class="col">
          <div class="form-outline">
            <input type="text" id="appPpId" class="form-control-file" formControlName="appPpId"/>
            <label class="form-label" for="appPpId">Public Prosecutor ID</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="appFirstName" class="form-control-file" formControlName="appFirstName"/>
            <label class="form-label" for="appFirstName">First Name</label>
          </div>
        </div>
        <div class="col">
         <div class="form-outline">
            <input type="text" id="appLastName" class="form-control-file" formControlName="appLastName"/>
            <label class="form-label" for="appLastName">Last Name</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-outline">
            <input type="text" id="appFatherName" class="form-control-file" formControlName="appFatherName"/>
            <label class="form-label" for="appFatherName">Father's Name</label>
          </div>
        </div>
        <div class="col">
         <div class="form-outline">
            <input type="text" id="appMotherName" class="form-control-file" formControlName="appMotherName"/>
            <label class="form-label" for="appMotherName">Mothers's Name</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <select type="dropdown" id="appGender" class="form-control-file" name="gender" formControlName="appGender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
            <label class="form-label" for="appGender">Gender</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="date" id="appDoB" class="form-control-file" formControlName="appDoB"/>
            <label class="form-label" for="appDoB">Date of Birth</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
            <div class="form-outline">
              <input type="text" id="appCourtId" class="form-control-file" formControlName="appCourtId"/>
              <label class="form-label" for="appCourtId">Court ID</label>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <select type="dropdown" id="appCourtType" class="form-control-file" formControlName="appCourtType">
                    <option value="Civil Court">Civil Court</option>
                    <option value="Criminal Court">Criminal Court</option>
                    <option value="Jurisdiction of the Appellate Division">Jurisdiction of the Appellate Division</option>
                    <option value="Jurisdiction of the High Court Division">Jurisdiction of the High Court Division</option>
                    <option value="Tribunals and Special Court">Tribunals and Special Court</option>
                    <option value="The International Crimes Tribunal">The International Crimes Tribunal</option>
                    <option value="Jurisdiction of Criminal Court">Jurisdiction of Criminal Court</option>
                </select>
                <label class="form-label" for="appCourtType">Court Type</label>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-outline">
            <select type="dropdown" id="appCourtCity" class="form-control-file" formControlName="appCourtCity">
              <option value="Bagerhat">Bagerhat</option>
              <option value="Bandarban">Bandarban</option>
              <option value="Barguna">Barguna</option>
              <option value="Barisal">Barisal</option>
              <option value="Bhola">Bhola</option>
              <option value="Bogra">Bogra</option>
              <option value="Brahmanbaria">Brahmanbaria</option>
              <option value="Chandpur">Chandpur</option>
              <option value="Chittagong">Chittagong</option>
              <option value="Chuadanga">Chuadanga</option>
              <option value="Comilla">Comilla</option>
              <option value="Cox's Bazar">Cox's Bazar</option>
              <option value="Dhaka">Dhaka</option>
              <option value="Dinajpur">Dinajpur</option>
              <option value="Faridpur">Faridpur</option>
              <option value="Feni">Feni</option>
              <option value="Gaibandha">Gaibandha</option>
              <option value="Gazipur">Gazipur</option>
              <option value="Gopalganj">Gopalganj</option>
              <option value="Habiganj">Habiganj</option>
              <option value="Jaipurhat">Jaipurhat</option>
              <option value="Jamalpur">Jamalpur</option>
              <option value="Jashore">Jashore</option>
              <option value="Jhalakati">Jhalakati</option>
              <option value="Jhenaidah">Jhenaidah</option>
              <option value="Khagrachari">Khagrachari</option>
              <option value="Khulna">Khulna</option>
              <option value="Kishoreganj">Kishoreganj</option>
              <option value="Kurigram">Kurigram</option>
              <option value="Kushtia">Kushtia</option>
              <option value="Lakshmipur">Lakshmipur</option>
              <option value="Lalmonirhat">Lalmonirhat</option>
              <option value="Madaripur">Madaripur</option>
              <option value="Magura">Magura</option>
              <option value="Manikganj">Manikganj</option>
              <option value="Meherpur">Meherpur</option>
              <option value="Moulvibazar">Moulvibazar</option>
              <option value="Munshiganj">Munshiganj</option>
              <option value="Mymensingh">Mymensingh</option>
              <option value="Naogaon">Naogaon</option>
              <option value="Narail">Narail</option>
              <option value="Narayanganj">Narayanganj</option>
              <option value="Narsingdi">Narsingdi</option>
              <option value="Natore">Natore</option>
              <option value="Nawabganj">Nawabganj</option>
              <option value="Netrakona">Netrakona</option>
              <option value="Nilphamari">Nilphamari</option>
              <option value="Noakhali">Noakhali</option>
              <option value="Pabna">Pabna</option>
              <option value="Panchagarh">Panchagarh</option>
              <option value="Patuakhali">Patuakhali</option>
              <option value="Pirojpur">Pirojpur</option>
              <option value="Rajbari">Rajbari</option>
              <option value="Rajshahi">Rajshahi</option>
              <option value="Rangamati">Rangamati</option>
              <option value="Rangamati">Rangamati</option>
              <option value="Satkhira">Satkhira</option>
              <option value="Shariatpur">Shariatpur</option>
              <option value="Sherpur">Sherpur</option>
              <option value="Sirajganj">Sirajganj</option>
              <option value="Sunamganj">Sunamganj</option>
              <option value="Sylhet">Sylhet</option>
              <option value="Tangail">Tangail</option>
              <option value="Thakurgaon">Thakurgaon</option>
            </select>
            <label class="form-label" for="appCourtCity">Court City</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <select type="dropdown" id="appCourtName" class="form-control-file" formControlName="appCourtName">
                <option value="District Judge Court">District Judge Court</option>
                <option value="Additional District Judge Court">Additional District Judge Court</option>
                <option value="Joint District Judge Court">Joint District Judge Court</option>
                <option value="Senior Assistant Judge Court">Senior Assistant Judge Court</option>
                <option value="Assistant Judge Court">Assistant Judge Court</option>
                <option value="Small Causes Court">Small Causes Court</option>
                <option value="Family Courts">Family Courts</option>
                <option value="Court of Sessions">Court of Sessions</option>
                <option value="Magistrate Court">Magistrate Court</option>
                <option value="High Court">High Court</option>
                <option value="Appellate Division">Appellate Division</option>
            </select>
            <label class="form-label" for="appCourtName">Court Name</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-outline">
            <input type="text" id="appCourtNo" class="form-control-file" formControlName="appCourtNo"/>
            <label class="form-label" for="appCourtNo">Court No.</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <select type="dropdown" id="appTribunalName" class="form-control-file" formControlName="appTribunalName">
                <option value="N/A">N/A</option>
                <option value="International Crime Tribunal">International Crime Tribunal</option>
                <option value="Administratibe Appellate Tribunal">Administratibe Appellate Tribunal</option>
                <option value="Labour Appellate Tribunal">Labour Appellate Tribunal</option>
                <option value="Cyber Tribunal">Cyber Tribunal</option>
                <option value="Custom Excise and VAT Appellate Tribunal">Custom Excise and VAT Appellate Tribunal</option>
                <option value="Taxes Appellate Tribunal">Taxes Appellate Tribunal</option>
                <option value="Court of Settlement">Court of Settlement</option>
                <option value="Special Tribunal Securities and Exchange Commission">Special Tribunal Securities and Exchange Commission</option>
            </select>
            <label class="form-label" for="appTribunalName">Tribunal Name</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="appChiefJustice" class="form-control-file" formControlName="appChiefJustice"/>
            <label class="form-label" for="appChiefJustice">Chief Justice</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="appChiefJusticeId" class="form-control-file" formControlName="appChiefJusticeId"/>
            <label class="form-label" for="appChiefJusticeId">Chief Justice ID</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-outline">
            <input type="date" id="appPlacementDate" class="form-control-file" formControlName="appPlacementDate"/>
            <label class="form-label" for="appPlacementDate">Placement Date</label>
          </div>
        </div>
        <div class="col">
            <div class="form-outline">
              <input type="email" id="appEmail" class="form-control-file" formControlName="appEmail"/>
              <label class="form-label" for="appEmail">Email</label>
            </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="appOfficePhone" class="form-control-file" formControlName="appOfficePhone"/>
            <label class="form-label" for="appOfficePhone">Office Phone</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="appPersonalPhone" class="form-control-file" formControlName="appPersonalPhone"/>
            <label class="form-label" for="appPersonalPhone">Personal Phone</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
            <div class="form-outline">
              <textarea name="" id="appPresentAddress" class="form-control-file" formControlName="appPresentAddress"></textarea>
              <label class="form-label" for="appPresentAddress">Present Address</label>
            </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <textarea name="" id="appPermanentAddress" class="form-control-file" formControlName="appPermanentAddress"></textarea>
            <label class="form-label" for="appPermanentAddress">Permanent Address</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
            <div class="form-outline">
              <input type="text" id="appUserName" class="form-control-file" formControlName="appUserName"/>
              <label class="form-label" for="appUserName">User Name</label>
            </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="password" id="appPassword" class="form-control-file" formControlName="appPassword"/>
            <label class="form-label" for="appPassword">Password</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="password" id="appConfirmPassword" class="form-control-file" formControlName="appConfirmPassword"/>
            <label class="form-label" for="appConfirmPassword">Confirm Password</label>
          </div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-4">
          <div class="form-outline">
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="reset" class="btn btn-warning">Clear</button>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>

