<div class="content-wrapper" style="background-color: cadetblue; overflow-y: scroll;">
    <div class="container-fluid">
    
        <form>
            <br>
            <h2>Add Community Police</h2>
            <br>
            <div class="row">
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="apPoliceId" class="form-control-file" />
                    <label class="form-label" for="apPoliceId">Community Police ID</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="apFirstName" class="form-control-file" />
                    <label class="form-label" for="apFirstName">First Name</label>
                  </div>
                </div>
                <div class="col">
                 <div class="form-outline">
                    <input type="text" id="apLastName" class="form-control-file" />
                    <label class="form-label" for="apLastName">Last Name</label>
                  </div>
                </div>
              </div>
        
              <div class="row">
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="apFatherName" class="form-control-file" />
                    <label class="form-label" for="apFatherName">Father's Name</label>
                  </div>
                </div>
                <div class="col">
                 <div class="form-outline">
                    <input type="text" id="apMotherName" class="form-control-file" />
                    <label class="form-label" for="apMotherName">Mothers's Name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <select type="dropdown" id="apGender" class="form-control-file" name="gender">
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                    </select>
                    <label class="form-label" for="apGender">Gender</label>
                  </div>
                 </div>
              </div>
        
              <div class="row">
                <div class="col">
                    <div class="form-outline">
                      <input type="date" id="apDoB" class="form-control-file" />
                      <label class="form-label" for="apDoB">Date of Birth</label>
                    </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <select type="dropdown" id="apDistrictName" class="form-control-file">
                      <option value="Bagerhat">Bagerhat</option>
                      <option value="Bandarban">Bandarban</option>
                      <option value="Barguna">Barguna</option>
                      <option value="Barisal">Barisal</option>
                      <option value="Bhola">Bhola</option>
                      <option value="Bogra">Bogra</option>
                      <option value="Brahmanbaria">Brahmanbaria</option>
                      <option value="Chandpur">Chandpur</option>
                      <option value="Chittagong">Chittagong</option>
                      <option value="Chuadanga">Chuadanga</option>
                      <option value="Comilla">Comilla</option>
                      <option value="Cox's Bazar">Cox's Bazar</option>
                      <option value="Dhaka">Dhaka</option>
                      <option value="Dinajpur">Dinajpur</option>
                      <option value="Faridpur">Faridpur</option>
                      <option value="Feni">Feni</option>
                      <option value="Gaibandha">Gaibandha</option>
                      <option value="Gazipur">Gazipur</option>
                      <option value="Gopalganj">Gopalganj</option>
                      <option value="Habiganj">Habiganj</option>
                      <option value="Jaipurhat">Jaipurhat</option>
                      <option value="Jamalpur">Jamalpur</option>
                      <option value="Jashore">Jashore</option>
                      <option value="Jhalakati">Jhalakati</option>
                      <option value="Jhenaidah">Jhenaidah</option>
                      <option value="Khagrachari">Khagrachari</option>
                      <option value="Khulna">Khulna</option>
                      <option value="Kishoreganj">Kishoreganj</option>
                      <option value="Kurigram">Kurigram</option>
                      <option value="Kushtia">Kushtia</option>
                      <option value="Lakshmipur">Lakshmipur</option>
                      <option value="Lalmonirhat">Lalmonirhat</option>
                      <option value="Madaripur">Madaripur</option>
                      <option value="Magura">Magura</option>
                      <option value="Manikganj">Manikganj</option>
                      <option value="Meherpur">Meherpur</option>
                      <option value="Moulvibazar">Moulvibazar</option>
                      <option value="Munshiganj">Munshiganj</option>
                      <option value="Mymensingh">Mymensingh</option>
                      <option value="Naogaon">Naogaon</option>
                      <option value="Narail">Narail</option>
                      <option value="Narayanganj">Narayanganj</option>
                      <option value="Narsingdi">Narsingdi</option>
                      <option value="Natore">Natore</option>
                      <option value="Nawabganj">Nawabganj</option>
                      <option value="Netrakona">Netrakona</option>
                      <option value="Nilphamari">Nilphamari</option>
                      <option value="Noakhali">Noakhali</option>
                      <option value="Pabna">Pabna</option>
                      <option value="Panchagarh">Panchagarh</option>
                      <option value="Patuakhali">Patuakhali</option>
                      <option value="Pirojpur">Pirojpur</option>
                      <option value="Rajbari">Rajbari</option>
                      <option value="Rajshahi">Rajshahi</option>
                      <option value="Rangamati">Rangamati</option>
                      <option value="Rangamati">Rangamati</option>
                      <option value="Satkhira">Satkhira</option>
                      <option value="Shariatpur">Shariatpur</option>
                      <option value="Sherpur">Sherpur</option>
                      <option value="Sirajganj">Sirajganj</option>
                      <option value="Sunamganj">Sunamganj</option>
                      <option value="Sylhet">Sylhet</option>
                      <option value="Tangail">Tangail</option>
                      <option value="Thakurgaon">Thakurgaon</option>
                    </select>
                    <label class="form-label" for="apDistrictName">District Name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="apThanaName" class="form-control-file" />
                    <label class="form-label" for="apThanaName">Thana Name/Unit</label>
                  </div>
                </div>
              </div>
        
              <div class="row">
                <div class="col">
                  <div class="form-outline">
                    <input type="date" id="apPlacementDate" class="form-control-file" />
                    <label class="form-label" for="apPlacementDate">Start Date</label>
                  </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                      <input type="date" id="apPlacementDate" class="form-control-file" />
                      <label class="form-label" for="apPlacementDate">End Date</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                      <input type="date" id="apPlacementDate" class="form-control-file" />
                      <label class="form-label" for="apPlacementDate">CP Training Date</label>
                    </div>
                </div>
              </div>
        
              <div class="row">
                <div class="col">
                    <div class="form-outline">
                      <input type="text" id="apWeaponSerial" class="form-control-file"/>
                      <label class="form-label" for="apWeaponSerial">Mobile</label>
                    </div>
                </div>
                <div class="col">
                      <div class="form-outline">
                        <input type="email" id="apWeaponSerial" class="form-control-file"/>
                        <label class="form-label" for="apWeaponSerial">Email</label>
                      </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                      <input type="text" id="apWeaponSerial" class="form-control-file"/>
                      <label class="form-label" for="apWeaponSerial">Facebook ID</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                      <input type="file" id="apWeaponSerial" class="form-control-file"/>
                      <label class="form-label" for="apWeaponSerial">Photo</label>
                    </div>
                </div>
              </div>
        
              <div class="row">
                <div class="col">
                    <div class="form-outline">
                      <input type="text" id="apUserName" class="form-control-file" />
                      <label class="form-label" for="apUserName">User Name</label>
                    </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input type="password" id="apPassword" class="form-control-file" />
                    <label class="form-label" for="apPassword">Password</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input type="password" id="apConfirmPassword" class="form-control-file" />
                    <label class="form-label" for="apConfirmPassword">Confirm Password</label>
                  </div>
                </div>
              </div>
        
              <br>
        
              <div class="row">
                <div class="col-md-4">
                  <div class="form-outline">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="reset" class="btn btn-warning">Reset</button>
                  </div>
                </div>
              </div>
    
        </form>
    </div>
</div>
