<div class="content-wrapper" style="background-color: cadetblue; overflow-y: scroll;">
    <div class="container-fluid">
    
        <form>
            <br>
            <h2>Add Community Police</h2>
            <br>
            <div class="row">
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="acpCommunityPoliceId" class="form-control-file" />
                    <label class="form-label" for="acpCommunityPoliceId">Community Police ID</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="acpFirstName" class="form-control-file" />
                    <label class="form-label" for="acpFirstName">First Name</label>
                  </div>
                </div>
                <div class="col">
                 <div class="form-outline">
                    <input type="text" id="acpLastName" class="form-control-file" />
                    <label class="form-label" for="acpLastName">Last Name</label>
                  </div>
                </div>
              </div>
        
              <div class="row">
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="acpFatherName" class="form-control-file" />
                    <label class="form-label" for="acpFatherName">Father's Name</label>
                  </div>
                </div>
                <div class="col">
                 <div class="form-outline">
                    <input type="text" id="acpMotherName" class="form-control-file" />
                    <label class="form-label" for="acpMotherName">Mothers's Name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <select type="dropdown" id="acpGender" class="form-control-file" name="gender">
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                    </select>
                    <label class="form-label" for="acpGender">Gender</label>
                  </div>
                 </div>
              </div>
        
              <div class="row">
                <div class="col">
                    <div class="form-outline">
                      <input type="date" id="acpDoB" class="form-control-file" />
                      <label class="form-label" for="acpDoB">Date of Birth</label>
                    </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <select type="dropdown" id="acpDistrictName" class="form-control-file">
                      <option value="Bagerhat">Bagerhat</option>
                      <option value="Bandarban">Bandarban</option>
                      <option value="Barguna">Barguna</option>
                      <option value="Barisal">Barisal</option>
                      <option value="Bhola">Bhola</option>
                      <option value="Bogra">Bogra</option>
                      <option value="Brahmanbaria">Brahmanbaria</option>
                      <option value="Chandpur">Chandpur</option>
                      <option value="Chittagong">Chittagong</option>
                      <option value="Chuadanga">Chuadanga</option>
                      <option value="Comilla">Comilla</option>
                      <option value="Cox's Bazar">Cox's Bazar</option>
                      <option value="Dhaka">Dhaka</option>
                      <option value="Dinajpur">Dinajpur</option>
                      <option value="Faridpur">Faridpur</option>
                      <option value="Feni">Feni</option>
                      <option value="Gaibandha">Gaibandha</option>
                      <option value="Gazipur">Gazipur</option>
                      <option value="Gopalganj">Gopalganj</option>
                      <option value="Habiganj">Habiganj</option>
                      <option value="Jaipurhat">Jaipurhat</option>
                      <option value="Jamalpur">Jamalpur</option>
                      <option value="Jashore">Jashore</option>
                      <option value="Jhalakati">Jhalakati</option>
                      <option value="Jhenaidah">Jhenaidah</option>
                      <option value="Khagrachari">Khagrachari</option>
                      <option value="Khulna">Khulna</option>
                      <option value="Kishoreganj">Kishoreganj</option>
                      <option value="Kurigram">Kurigram</option>
                      <option value="Kushtia">Kushtia</option>
                      <option value="Lakshmipur">Lakshmipur</option>
                      <option value="Lalmonirhat">Lalmonirhat</option>
                      <option value="Madaripur">Madaripur</option>
                      <option value="Magura">Magura</option>
                      <option value="Manikganj">Manikganj</option>
                      <option value="Meherpur">Meherpur</option>
                      <option value="Moulvibazar">Moulvibazar</option>
                      <option value="Munshiganj">Munshiganj</option>
                      <option value="Mymensingh">Mymensingh</option>
                      <option value="Naogaon">Naogaon</option>
                      <option value="Narail">Narail</option>
                      <option value="Narayanganj">Narayanganj</option>
                      <option value="Narsingdi">Narsingdi</option>
                      <option value="Natore">Natore</option>
                      <option value="Nawabganj">Nawabganj</option>
                      <option value="Netrakona">Netrakona</option>
                      <option value="Nilphamari">Nilphamari</option>
                      <option value="Noakhali">Noakhali</option>
                      <option value="Pabna">Pabna</option>
                      <option value="Panchagarh">Panchagarh</option>
                      <option value="Patuakhali">Patuakhali</option>
                      <option value="Pirojpur">Pirojpur</option>
                      <option value="Rajbari">Rajbari</option>
                      <option value="Rajshahi">Rajshahi</option>
                      <option value="Rangamati">Rangamati</option>
                      <option value="Rangamati">Rangamati</option>
                      <option value="Satkhira">Satkhira</option>
                      <option value="Shariatpur">Shariatpur</option>
                      <option value="Sherpur">Sherpur</option>
                      <option value="Sirajganj">Sirajganj</option>
                      <option value="Sunamganj">Sunamganj</option>
                      <option value="Sylhet">Sylhet</option>
                      <option value="Tangail">Tangail</option>
                      <option value="Thakurgaon">Thakurgaon</option>
                    </select>
                    <label class="form-label" for="acpDistrictName">District Name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="acpThanaName" class="form-control-file" />
                    <label class="form-label" for="acpThanaName">Thana Name/Unit</label>
                  </div>
                </div>
              </div>
        
              <div class="row">
                <div class="col">
                  <div class="form-outline">
                    <input type="date" id="acpStartDate" class="form-control-file" />
                    <label class="form-label" for="acpStartDate">Start Date</label>
                  </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                      <input type="date" id="acpEndDate" class="form-control-file" />
                      <label class="form-label" for="acpEndDate">End Date</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                      <input type="date" id="acpTrainingDate" class="form-control-file" />
                      <label class="form-label" for="acpTrainingDate">CP Training Date</label>
                    </div>
                </div>
              </div>
        
              <div class="row">
                <div class="col">
                    <div class="form-outline">
                      <input type="text" id="acpMobile" class="form-control-file"/>
                      <label class="form-label" for="acpMobile">Mobile</label>
                    </div>
                </div>
                <div class="col">
                      <div class="form-outline">
                        <input type="email" id="acpEmail" class="form-control-file"/>
                        <label class="form-label" for="acpEmail">Email</label>
                      </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                      <input type="text" id="acpFacebookId" class="form-control-file"/>
                      <label class="form-label" for="acpFacebookId">Facebook ID</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                      <input type="file" id="acpPhoto" class="form-control-file"/>
                      <label class="form-label" for="apWeaponSerial">Photo</label>
                    </div>
                </div>
              </div>
        
              <div class="row">
                <div class="col">
                    <div class="form-outline">
                      <input type="text" id="acpUserName" class="form-control-file" />
                      <label class="form-label" for="acpUserName">User Name</label>
                    </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input type="password" id="acpPassword" class="form-control-file" />
                    <label class="form-label" for="acpPassword">Password</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input type="password" id="acpConfirmPassword" class="form-control-file" />
                    <label class="form-label" for="acpConfirmPassword">Confirm Password</label>
                  </div>
                </div>
              </div>
        
              <br>
        
              <div class="row">
                <div class="col-md-4">
                  <div class="form-outline">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="reset" class="btn btn-warning">Reset</button>
                  </div>
                </div>
              </div>
    
        </form>
    </div>
</div>
