<div class="content-wrapper" style="background-color: cadetblue;">
  <div class="container-fluid">
  <form>
    <br>
    <br>
    <table border="1" class="table table-stripped">
      <th>
          <h2>Add New Judge</h2>
      </th>
      <th>
          <a href="#" routerLink="/manage/add-judge" ><button class="btn btn-secondary">Add Judge</button></a>
      </th>
    </table>
  </form>
  <br>
  </div>
  <div class="container-fluid">
      <table border="2" class="table table-stripped">
        <thead>
          <th>Judge ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Father's Name</th>
          <th>Mothers's Name</th>
          <th>Gender</th>
          <th>Date of Birth</th>
          <th>Court ID</th>
          <th>Court Type</th>
          <th>Court City</th>
          <th>Court Name</th>
          <th>Court No.</th>
          <th>Tribunal Name</th>
          <th>Chief Justice</th>
          <th>Chief Justice ID</th>
          <th>Placement Date</th>
          <th>Email</th>
          <th>Office Phone</th>
          <th>Personal Phone</th>
          <th>Present Address</th>
          <th>Permanent Address</th>
          <th>User Name</th>
          <th>Password</th>
          <th>Confirm Password</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
              <button class="btn btn-success">View</button>
              <button class="btn btn-warning">Edit</button>
          </td>
        </tbody>
      </table>
  </div>
</div>

