<div class="content-wrapper" style="background-color: cadetblue">
    <div class="container-fluid">
        <br>
        <h2>Report log</h2>
        <table border="2" class="table table-stripped">
            <thead>
              <th>Report ID</th>
              <th>FIR/Case No.</th>
              <th>Police ID</th>
              <th>ThanaName</th>
              <th>Court Name</th>
              <th>Jail Name</th>
              <th>Date</th>
              <th>GR/CR No.</th>
            </thead>
            <tbody>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tbody>
        </table>
    </div>
</div>
