<div class="content-wrapper" style="background-color: cadetblue; overflow-y: scroll;">
    <div class="container-fluid">
    <form>
      <br>
      <br>
      <table border="1" class="table table-stripped">
        <th>
            <h2>Add New Jailer</h2>
        </th>
        <th>
          <a href="#" routerLink="/manage/add-jailer" ><button class="btn btn-secondary">Add Jailer</button></a>
        </th>
      </table>
    </form>
    <br>
    </div>
    <div class="container-fluid">
        <table border="2" class="table table-stripped">
          <thead>
            <th>Jailer ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Father's Name</th>
            <th>Mothers's Name</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Jail ID</th>
            <th>Police ID</th>
            <th>Jail Type</th>
            <th>Jail City</th>
            <th>Jail Name</th>
            <th>Placement Date</th>
            <th>Email</th>
            <th>Office Phone</th>
            <th>Personal Phone</th>
            <th>Present Address</th>
            <th>Permanent Address</th>
            <th>User Name</th>
            <th>Password</th>
            <th>Confirm Password</th>
            <th>Actions</th>
          </thead>
          <tr *ngFor="let v of jailer">
            <td>{{v.ajailerJailerId}}</td>
            <td>{{v.ajailerFirstName}}</td>
            <td>{{v.ajailerLastName}}</td>
            <td>{{v.ajailerFatherName}}</td>
            <td>{{v.ajailerMotherName}}</td>
            <td>{{v.ajailerGender}}</td>
            <td>{{v.ajailerDoB}}</td>
            <td>{{v.ajailerJailId}}</td>
            <td>{{v.ajailerPoliceId}}</td>
            <td>{{v.ajailerJailType}}</td>
            <td>{{v.ajailerJailCity}}</td>
            <td>{{v.ajailerJailName}}</td>
            <td>{{v.ajailerPlacementDate}}</td>
            <td>{{v.ajailerEmail}}</td>
            <td>{{v.ajailerOfficePhone}}</td>
            <td>{{v.ajailerPersonalPhone}}</td>
            <td>{{v.ajailerPresentAddress}}</td>
            <td>{{v.ajailerPermanentAddress}}</td>
            <td>{{v.ajailerUserName}}</td>
            <td>{{v.ajailerPassword}}</td>
            <td>{{v.ajailerConfirmPassword}}</td>
            <td>
                <button class="btn btn-success">View</button>
                <button class="btn btn-warning">Edit</button>
            </td>
          </tr>
        </table>
    </div>
</div>
