<div class="content-wrapper" style="background-color: cadetblue">
    <div class="container-fluid">
      <form>
        <h2></h2>
        <h2>Unacknowledged-Body</h2>
        <br>

        <div class="row">
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form8Example1" class="form-control-file" />
                <label class="form-label" for="form8Example1">Full Name</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form8Example2" class="form-control-file" />
                <label class="form-label" for="form8Example2">Father's Name</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form8Example2" class="form-control-file" />
                <label class="form-label" for="form8Example2">Mothers's Name</label>
              </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
              <!-- Email input -->
              <div class="form-outline">
                <input type="text" id="form8Example2" class="form-control-file" />
                <label class="form-label" for="form8Example2">Estimated Age</label>
              </div>
            </div>
            <div class="col">
              <!-- Name input -->
              <div class="form-outline">
                <select type="dropdown" id="gender" class="form-control-file" name="gender">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
                <label class="form-label" for="gender">Gender</label>
              </div>
            </div>
            <div class="col">
                <!-- Email input -->
                <div class="form-outline">
                  <select type="dropdown" id="education" class="form-control-file">
                    <option value="Muslim">Muslim</option>
                    <option value="Others">Others</option>
                  </select>
                  <label class="form-label" for="form8Example5">Religion</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
              <div class="form-outline">
                <textarea type="text" id="form8Example2" class="form-control-file"></textarea>
                <label class="form-label" for="form8Example1">Body Found</label>
              </div>
            </div>
            <div class="col">
                <div class="form-outline">
                  <input type="file" id="form8Example2" class="form-control-file" />
                  <label class="form-label" for="form8Example2">Photo</label>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                  <input type="file" id="form8Example2" class="form-control-file" />
                  <label class="form-label" for="form8Example2">Document</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
              <div class="form-outline">
                <input type="text" id="entryNo" class="form-control-file"/>
                <label class="form-label" for="entryNo">Height</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" id="entryNo" class="form-control-file"/>
                <label class="form-label" for="entryNo">Weight</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                  <select type="dropdown" id="education" class="form-control-file">
                    <option value="Round">Round</option>
                    <option value="Monolid">Monolid</option>
                    <option value="Hooded">Hooded</option>
                    <option value="Downturned">Downturned</option>
                    <option value="Upturned">Upturned</option>
                    <option value="Almond">Almond</option>
                  </select>
                  <label class="form-label" for="form8Example5">Eye</label>
                </div>
            </div>
            <div class="col">
              <div class="form-outline">
                  <select type="dropdown" id="education" class="form-control-file">
                    <option value="Straight">Straight</option>
                    <option value="Wavy">Wavy</option>
                    <option value="Curly">Curly</option>
                    <option value="Coily">Coily</option>
                  </select>
                  <label class="form-label" for="form8Example5">Hair</label>
              </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
              <div class="form-outline">
                  <select type="dropdown" id="education" class="form-control-file">
                    <option value="Short">Short</option>
                    <option value="Long">Long</option>
                    <option value="Full">Full</option>
                    <option value="Scruffy">Scruffy</option>
                    <option value="Stubble">Stubble</option>
                    <option value="Goatee">Goatee</option>
                  </select>
                  <label class="form-label" for="form8Example5">Bread</label>
                </div>
            </div>
            <div class="col">
              <div class="form-outline">
                  <select type="dropdown" id="education" class="form-control-file">
                    <option value="Bulbous Nose">Bulbous Nose</option>
                    <option value="Upturned Nose">Upturned Nose</option>
                    <option value="Button Nose or Snub Nose">Button Nose or Snub Nose</option>
                    <option value="Straight or Greek-Shaped Nose">Straight or Greek-Shaped Nose</option>
                    <option value="Hawk Nose or Roman Nose">Hawk Nose or Roman Nose</option>
                    <option value="Roman Nose">Roman Nose</option>
                    <option value="Fleshy Nose or Broad Nose">Fleshy Nose or Broad Nose</option>
                    <option value="Nubian Nose">Nubian Nose</option>
                  </select>
                  <label class="form-label" for="form8Example5">Nose</label>
              </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <select type="dropdown" id="education" class="form-control-file">
                      <option value="Horizontally shaped forehead without slopes">Horizontally shaped forehead without slopes</option>
                      <option value="Sloped forehead">Sloped forehead</option>
                      <option value="Bow shaped forehead">Bow shaped forehead</option>
                      <option value="Small and broad forehead">Small and broad forehead</option>
                      <option value="High and slightly wide forehead">High and slightly wide forehead</option>
                      <option value="Forehead with lines and folds">Forehead with lines and folds</option>
                      <option value="Forehead with lines and folds">Forehead with lines and folds</option>
                    </select>
                    <label class="form-label" for="form8Example5">Forehead</label>
                  </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
              <div class="form-outline">
                  <select type="dropdown" id="education" class="form-control-file">
                    <option value="Ectomorph">Ectomorph</option>
                    <option value="Mesomorph">Mesomorph</option>
                    <option value="Endomorph">Endomorph</option>
                    <option value="Combination type">Combination type</option>
                  </select>
                  <label class="form-label" for="form8Example5">Body Shape</label>
                </div>
            </div>
            <div class="col">
              <div class="form-outline">
                  <select type="dropdown" id="education" class="form-control-file">
                    <option value="Oval Face">Oval Face</option>
                    <option value="Square Face">Square Face</option>
                    <option value="Round Face">Round Face</option>
                    <option value="Rectangle/Oblong Face">Rectangle/Oblong Face</option>
                    <option value="Diamond Face">Diamond Face</option>
                    <option value="Heart Shaped Face">Heart Shaped Face</option>
                  </select>
                  <label class="form-label" for="form8Example5">Face Shape</label>
              </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <select type="dropdown" id="education" class="form-control-file">
                        <option value="Square Chin">Square Chin</option>
                        <option value="Short and Narrow Chin">Short and Narrow Chin</option>
                        <option value="Protruding Chin (Jutting)">Protruding Chin (Jutting)</option>
                        <option value="Round Chin (Double Chin)">Round Chin (Double Chin)</option>
                        <option value="Long Chin">Long Chin</option>
                        <option value="Weak Receding Chin">Weak Receding Chin</option>
                        <option value="Cleft Chin">Cleft Chin</option>
                        <option value="Wide Chin">Wide Chin</option>
                    </select>
                    <label class="form-label" for="form8Example5">Chin</label>
                  </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
              <div class="form-outline">
                  <select type="dropdown" id="education" class="form-control-file">
                    <option value="Light">Light</option>
                    <option value="Fair">Fair</option>
                    <option value="Medium">Medium</option>
                    <option value="Deep (Dark)">Deep (Dark)</option>
                    <option value="Warm">Warm</option>
                    <option value="Cool">Cool</option>
                    <option value="Neutral">Neutral</option>
                  </select>
                  <label class="form-label" for="form8Example5">Skin Color</label>
                </div>
            </div>
            <div class="col">
              <div class="form-outline">
                  <select type="dropdown" id="education" class="form-control-file">
                    <option value="Dallas mustache">Dallas mustache</option>
                    <option value="Natural mustache">Natural mustache</option>
                    <option value="Handlebar mustache">Handlebar mustache</option>
                    <option value="Pencil-thin mustache">Pencil-thin mustache</option>
                    <option value="Fu Manchu mustache">Fu Manchu mustache</option>
                    <option value="Horseshoe mustache">Horseshoe mustache</option>
                    <option value="Chevron mustache">Chevron mustache</option>
                  </select>
                  <label class="form-label" for="form8Example5">Mustaches</label>
              </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <select type="dropdown" id="education" class="form-control-file">
                        <option value="Oblique">Oblique</option>
                        <option value="Rectangular">Rectangular</option>
                        <option value="Round">Round</option>
                        <option value="Triangular">Triangular</option>
                    </select>
                    <label class="form-label" for="form8Example5">Ear</label>
                  </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <select type="dropdown" id="education" class="form-control-file">
                        <option value="Bass">Bass</option>
                        <option value="Baritone">Baritone</option>
                        <option value="Tenor">Tenor</option>
                        <option value="Mezzo-Soprano">Mezzo-Soprano</option>
                        <option value="Countertenor">Countertenor</option>
                        <option value="Soprano">Soprano</option>
                    </select>
                    <label class="form-label" for="form8Example5">Voice</label>
                  </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
              <div class="form-outline">
                <textarea type="text" id="form8Example2" class="form-control-file"></textarea>
                <label class="form-label" for="form8Example1">Found Things and Staffs</label>
              </div>
            </div>
            <div class="col">
                <div class="form-outline">
                  <input type="text" id="form8Example2" class="form-control-file" />
                  <label class="form-label" for="form8Example1">Name of Relative to This Person</label>
                </div>
              </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form8Example2" class="form-control-file" />
                <label class="form-label" for="form8Example1">Relation to This Person</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form8Example2" class="form-control-file" />
                <label class="form-label" for="form8Example1">Comment</label>
              </div>
            </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-4">
            <!-- Name input -->
            <div class="form-outline">
              <a href="#" routerLink="/unacknowledged-body/lost-persons"><button type="submit" class="btn btn-success">Submit</button></a>
              <a><button type="reset" class="btn btn-warning">Reset</button></a>
            </div>
          </div>
        </div>

      </form>
    </div>
    <br>
    <br>

    <div class="container-fluid" >
        <br>
        <h2>Unacknowledged-Body List</h2>
        <br>
      <table border="2" class="table table-stripped" style="background-color: cadetblue">
        <thead>
          <th>Full Name</th>
          <th>Father's Name</th>
          <th>Mothers's Name</th>
          <th>Estimated Age</th>
          <th>Gender</th>
          <th>Religion</th>
          <th>Body Found</th>
          <th>Photo</th>
          <th>Document</th>
          <th>Height</th>
          <th>Weight</th>
          <th>Eye</th>
          <th>Hair</th>
          <th>Bread</th>
          <th>Nose</th>
          <th>Forehead</th>
          <th>Body Shape</th>
          <th>Face Shape</th>
          <th>Chin</th>
          <th>Skin Color</th>
          <th>Mustaches</th>
          <th>Ear</th>
          <th>Voice</th>
          <th>Found Things and Staffs</th>
          <th>Name of Relative to This Person</th>
          <th>Relation to This Person</th>
          <th>Comment</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
              <button class="btn btn-success">View</button>
              <button class="btn btn-light">Edit</button>
              <button class="btn btn-warning">Delete</button>
          </td>
        </tbody>
      </table>
    </div>
</div>

