<div class="content-wrapper" style="background-color: cadetblue">
    <div class="container-fluid">
        <br>
        <h2>User Audit log</h2>
        <table border="2" class="table table-stripped">
            <thead>
              <th>ID</th>
              <th>Login User</th>
              <th>Page No.</th>
              <th>Page Name</th>
              <th>Action time</th>
              <th>IP Address</th>
              <th>User OID</th>
            </thead>
            <tbody>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tbody>
        </table>
    </div>
</div>
