<div class="content-wrapper" style="background-color: cadetblue;">
  <div class="container-fluid">
  <form>
    <br>
    <a href="#" routerLink="/general/jail-information" ><button class="btn btn-secondary">Back to List</button></a>
    <br>
    <br>
    <div class="row">
      <div class="col">
          <div class="form-outline">
            <input type="text" id="ajailJailId" class="form-control-file" />
            <label class="form-label" for="ajailJailId">Jail ID</label>
          </div>
      </div>
      <div class="col">
          <div class="form-outline">
            <input type="text" id="ajailJailName" class="form-control-file" />
            <label class="form-label" for="ajailJailName">Jail Name</label>
          </div>
      </div>
      <div class="col">
          <div class="form-outline">
              <select type="dropdown" id="ajailJailType" class="form-control-file">
                  <option value="Central Jail">Central Jail</option>
                  <option value="District Jail">District Jail</option>
                  <option value="Special Jail">Special Jail</option>
              </select>
              <label class="form-label" for="ajailJailType">Jail Type</label>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-outline">
          <select type="dropdown" id="ajailJailCity" class="form-control-file">
            <option value="Bagerhat">Bagerhat</option>
            <option value="Bandarban">Bandarban</option>
            <option value="Barguna">Barguna</option>
            <option value="Barisal">Barisal</option>
            <option value="Bhola">Bhola</option>
            <option value="Bogra">Bogra</option>
            <option value="Brahmanbaria">Brahmanbaria</option>
            <option value="Chandpur">Chandpur</option>
            <option value="Chittagong">Chittagong</option>
            <option value="Chuadanga">Chuadanga</option>
            <option value="Comilla">Comilla</option>
            <option value="Cox's Bazar">Cox's Bazar</option>
            <option value="Dhaka">Dhaka</option>
            <option value="Dinajpur">Dinajpur</option>
            <option value="Faridpur">Faridpur</option>
            <option value="Feni">Feni</option>
            <option value="Gaibandha">Gaibandha</option>
            <option value="Gazipur">Gazipur</option>
            <option value="Gopalganj">Gopalganj</option>
            <option value="Habiganj">Habiganj</option>
            <option value="Jaipurhat">Jaipurhat</option>
            <option value="Jamalpur">Jamalpur</option>
            <option value="Jashore">Jashore</option>
            <option value="Jhalakati">Jhalakati</option>
            <option value="Jhenaidah">Jhenaidah</option>
            <option value="Khagrachari">Khagrachari</option>
            <option value="Khulna">Khulna</option>
            <option value="Kishoreganj">Kishoreganj</option>
            <option value="Kurigram">Kurigram</option>
            <option value="Kushtia">Kushtia</option>
            <option value="Lakshmipur">Lakshmipur</option>
            <option value="Lalmonirhat">Lalmonirhat</option>
            <option value="Madaripur">Madaripur</option>
            <option value="Magura">Magura</option>
            <option value="Manikganj">Manikganj</option>
            <option value="Meherpur">Meherpur</option>
            <option value="Moulvibazar">Moulvibazar</option>
            <option value="Munshiganj">Munshiganj</option>
            <option value="Mymensingh">Mymensingh</option>
            <option value="Naogaon">Naogaon</option>
            <option value="Narail">Narail</option>
            <option value="Narayanganj">Narayanganj</option>
            <option value="Narsingdi">Narsingdi</option>
            <option value="Natore">Natore</option>
            <option value="Nawabganj">Nawabganj</option>
            <option value="Netrakona">Netrakona</option>
            <option value="Nilphamari">Nilphamari</option>
            <option value="Noakhali">Noakhali</option>
            <option value="Pabna">Pabna</option>
            <option value="Panchagarh">Panchagarh</option>
            <option value="Patuakhali">Patuakhali</option>
            <option value="Pirojpur">Pirojpur</option>
            <option value="Rajbari">Rajbari</option>
            <option value="Rajshahi">Rajshahi</option>
            <option value="Rangamati">Rangamati</option>
            <option value="Rangamati">Rangamati</option>
            <option value="Satkhira">Satkhira</option>
            <option value="Shariatpur">Shariatpur</option>
            <option value="Sherpur">Sherpur</option>
            <option value="Sirajganj">Sirajganj</option>
            <option value="Sunamganj">Sunamganj</option>
            <option value="Sylhet">Sylhet</option>
            <option value="Tangail">Tangail</option>
            <option value="Thakurgaon">Thakurgaon</option>
          </select>
          <label class="form-label" for="ajailJailCity">Jail City</label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <input type="text" id="ajailJailSuperName" class="form-control-file" />
          <label class="form-label" for="ajailJailSuperName">Jail Super Name</label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <input type="text" id="ajailJailSuperPoliceId" class="form-control-file" />
          <label class="form-label" for="ajailJailSuperPoliceId">Jail Super Police ID</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
          <div class="form-outline">
            <input type="email" id="ajailJailEmail" class="form-control-file" />
            <label class="form-label" for="ajailJailEmail">Jail Email</label>
          </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <input type="text" id="ajailOfficePhone" class="form-control-file" />
          <label class="form-label" for="ajailOfficePhone">Office Phone</label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <input type="text" id="ajailJailSuperPhone" class="form-control-file" />
          <label class="form-label" for="ajailJailSuperPhone">Jail Super Phone</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
          <div class="form-outline">
            <input type="text" id="ajailUserName" class="form-control-file" />
            <label class="form-label" for="ajailUserName">User Name</label>
          </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <input type="password" id="ajailPassword" class="form-control-file" />
          <label class="form-label" for="ajailPassword">Password</label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <input type="password" id="ajailConfirmPassword" class="form-control-file" />
          <label class="form-label" for="ajailConfirmPassword">Confirm Password</label>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-4">
        <!-- Name input -->
        <div class="form-outline">
          <button type="submit" class="btn btn-success">Submit</button>
          <button type="reset" class="btn btn-warning">Reset</button>
        </div>
      </div>
    </div>

  </form>
  </div>
</div>

